<!--- Plantilla para la vista de el listado de mediciones ( con datos ) de productos - plantillas para SIGEPI
#Autor: Daniel Alejandro Ballesteros Algarra
# Coautor(a):  Milton O. Castro Ch.
#fecha 23 -09 -2022 --->


{% extends 'app_regmed_iu.html' %} 
{% load static %}
{% block meta_app %}{% endblock meta_app%}
{% block meta_panel_ppal %}{% endblock meta_panel_ppal%}
{% block meta_pie_app%}{% endblock meta_pie_app%}
{% block consulta %}
{% block articulo %} 

<div>
    <p>Consulta de la medicion </p>
</div>

{% if form.errors %}
    <p>No se ha podido realizar la consulta en este momento, porfavor intentelo mas tarde.</p>
{% endif %}

{% if prd_med %}

    <!--CONSULTAR UN ESTADO DE MEDICION-->

    <table>
        <thead>
            <tr>

                <th>#</th>  
                <th>Nombre</th>  
                <th># Convocatoria </th> 
                <th>Fecha de inicio</th> 
                <th>Fecha de finalizacion</th>
                <th>Documentacion</th>
                <th>Resultados Convocatoria</th>
                <th>Estado de la medicion</th>

            </tr>
        </thead>
         <tbody>
                <tr>

                    {% if prd_med.id_med%}
                    <td> {{ prd_med.id_med }} </td> 
                    {% else %}
                    <td></td>
                    {% endif %}

                    {% if prd_med.nom_med%}
                    <td> {{ prd_med.nom_med }} </td> 
                    {% else %}
                    <td></td>
                    {% endif %}

                    {% if prd_med.num_conv %}
                    <td> {{ prd_med.num_conv }} </td>
                    {% else %}
                    <td></td>
                    {% endif %}

                    {% if prd_med.fch_ini %}
                    <td> {{ prd_med.fch_ini}} </td> 
                    {% else %}
                    <td></td>
                    {% endif %}

                    {% if prd_med.fch_fin %}
                    <td>  {{ prd_med.fch_fin}} </td> 
                    {% else %}
                    <td></td>
                    {% endif %}

                    {% if prd_med.url_doc %}
                    <td>  {{ prd_med.url_doc}} </td>
                    {% else %}
                    <td></td>
                    {% endif %}

                    {% if prd_med.url_resul %}
                    <td>  {{ prd_med.url_resul}} </td> 
                    {% else %}
                    <td></td>
                    {% endif %}

                    {% if prd_med.est_med %}
                    <td>  {{ prd_med.est_med}} </td> 
                    {% else %}
                    <td></td>
                    {% endif %}

                </tr>
    
        </tbody>
    
    </table>

        <a href="{% url 'listar_prd' %}">

            <button type="submit" name="Back" >
                Volver
            </button>
            
        </a>  

        <a href="{% url 'editar_med' prd_med.id_med %}">

            <button type="submit" name="Back" >
                Actualizar Medicion
            </button>

        </a>  

{% else %}
    <span> No existe una medicion de este producto </span>
{% endif %}


{% endblock articulo %}
{% endblock consulta %}

{% block script_app%}{% endblock script_app%}
{% block script_menu_app%}{% endblock script_menu_app%}
{% block script_pie_app%}{% endblock script_pie_app%}