<!--- Plantilla para la vista del listado de productos a medir y/o certificar - plantillas para SIGEPI
#Autor: Daniel Alejandro Ballesteros Algarra
# Coautor(a):  Milton O. Castro Ch.
#fecha 27 -09 -2022 --->


{% extends 'app_regprd_iu.html' %} 
{% load static %}
{% block meta_app %}{% endblock meta_app%}
{% block meta_panel_ppal %}{% endblock meta_panel_ppal%}
{% block meta_pie_app%}{% endblock meta_pie_app%}
{% block consulta %}
{% block articulo %}


<div>
    <p>Listado de Productos</p>
</div>

{% if form.errors %}
    <p>No se ha podido realizar la consulta en este momento, porfavor intentelo mas tarde.</p>
{% endif %}

<!--CONSULTAR PRODUCTOS-->
    <table>
        <thead>
            <tr>
                <th>#</th>  
                <th> Nombre </th>  
            </tr>
        </thead>
        <tbody>
            {% for prd_base in object_list %}
                <tr>
                    <td> {{ prd_base.id_prd}} </td> 
                    <td>
                        {{ prd_base.nom_prd}} 

                        <a href="{% url 'crear_med' prd_base.id_prd %}">
                            <button type="submit" name="Editar" >
                                Medir
                            </button>
                        </a>

                        <a href="{% url 'crear_cert' prd_base.id_prd%}">
                            <button type="submit" class = "btm btn-danger" name="Eliminar" >
                                Certificar
                            </button>
                        </a>

                    </td> 
                </tr>
            {% endfor %}
        </tbody>
    </table>


{% endblock articulo %}
{% endblock consulta %}


{% block script_app%}{% endblock script_app%}
{% block script_menu_app%}{% endblock script_menu_app%}
{% block script_pie_app%}{% endblock script_pie_app%}