{% extends 'indexprueba.html' %}
{% block titulo %} Formulario de registro nuevo usuario {% endblock titulo %}
{% block rolusuario %}
{% if form.errors %}
    <p>El usuario no se ha creado correctamente. Por favor, inténtalo de nuevo.</p>
{% endif %}
<h3>roles</h3>

<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <div>
        {% for usu_inf_apps in  object_list %}
        <label> {{ usu_inf_apps.id_usu }} </label>
        <label> {{ usu_inf_apps.ls_roles}} </label>
            {% block modf_consl %}

            {% endblock modf_consl  %}
        {% endfor %}

</form>
{% endblock rolusuario %}
