{% extends 'inicio.html' %}
{% load static %}

<!-- metadatos del documento (head)-->
{% block meta_app %}{% endblock meta_app%}
{% block meta_panel_ppal %}{% endblock meta_panel_ppal%}
{% block meta_pie_app%}{% endblock meta_pie_app%}

<!-- bloques de Aplicación-->
{% block app%}
<div id="menu_app" class="menu_app">
    {% block menu_app %}
    <p>menú app</p>
    {% endblock menu_app %}
</div>
<div id="articulo" class="articulo">
    {% block articulo %}
        {# include 'cn_trj_pry.html' #}
    {% endblock articulo %}
</div>

<div id="pie_app" class="pie_app">
    {% block pie_app %}
    <p>pie app</p>
    {% endblock pie_app %}
</div>
{% endblock app%}

{% block script_app%}{% endblock script_app%}
{% block script_menu_app%}{% endblock script_menu_app%}
{% block script_pie_app%}{% endblock script_pie_app%}