<!--- Plantilla para la vista del registro de producto - plantillas para SIGEPI
#Autor: Daniel Alejandro Ballesteros Algarra
# Coautor(a):  Milton O. Castro Ch.
#fecha 19 -08 -2022 --->

{% extends 'inicio.html' %} 

<!--llamado de los bloques del archivo base.html-->
{% block meta_app %}{% endblock meta_app%}
{% block meta_panel_ppal %}{% endblock meta_panel_ppal%}
{% block meta_pie_app%}{% endblock meta_pie_app%}

{% block app%}
<div id="menu_app" class="menu_app">
    {% block menu_app %}
    <p>menú app_regprd</p>
    {% endblock menu_app %}
</div>