<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block titulo %} listado de roles {% endblock titulo %}</title>
  </head>
  <body>
    {% block cuerpo %}
    <h1> listado modulos</h1>
    <table border="2">
        <thead>
          <tr>
            <th>id_gr</th>
            <th>contraseña para el usuario grupo</th>
            <th>Identificador del usuario administrador</th>
            <th>Identificador del Rol </th>
            <th>activo</th>
          </tr>
        </thead>
      <tbody>
        {% for usugr in  object_list %}
        <tr>
          <td>{{ usugr.id_gr }}</td>
          <td>{{ usugr.passgr }}</td>
          <td>{{ usugr.id_usu_admin }}</td>
          <td>{{ usugr.id_rol_app }}</td>
          <td>{{ usugr.activo }}</td>
          <td><a href="{% url 'editarusugr' usugr.id_gr  %}"> Editar </a> <a href="{% url 'eliminarusugr' usugr.id_gr  %} "> Eliminar </a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% endblock cuerpo %}
  </body>
</html>
