{% extends 'backend/base_adm.html' %}
{% block encabezado %}
{% include 'backend/cabeceras/menu1.html' %}
{% endblock %}
{% block lado %}
    {% include 'backend/widgest/side_adm.html' %}
{% endblock lado%}
{% block cuerpo %}
    <div id='main'>
    {% include 'backend/widgest/side_adm.html' %}
        <article id="principal">
        {% block contenido %}
         <h1> listado usuarios</h1>
        <table border="2">
            <thead>
                <tr>
                    <th>nuip</th>
                    <th>tipo</th>
                    <th>nombres</th>
                    <th>apellidos</th>
                    <th>nal</th>
                    <th>fecha nacimiento</th>
                </tr>
            </thead>
            <tbody>
                {% for usu_inf_pers in  object_list %}
                <tr>
                    <td>{{ usu_inf_pers.nuip }}</td>
                    <td>{{ usu_inf_pers.tipo_nuip }}</td>
                    <td>{{ usu_inf_pers.nombres }}</td>
                    <td>{{ usu_inf_pers.apelllidos }}</td>
                    <td>{{ usu_inf_pers.nal }}</td>
                    <td>{{ usu_inf_pers.fch_naci }}</td>
                    <td>{{ usu_inf_pers.gene }}</td>
                    <td>{{ usu_inf_pers.ocup }}</td>
                    <td>{{ usu_inf_pers.discap }}</td>
                    <td><a href="{% url 'editarinfopers' usu_inf_pers.id  %}"> Editar </a> <a href="{% url 'eliminarinfopers' usu_inf_pers.id  %} "> Eliminar </a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endblock %}
        </article>
    <script language="JavaScript" type="text/javascript">
      $(document).ready(function () {
        $('.dropdown-toggle').dropdown();
      });
    </script>
</div>
{% endblock %}
{% block pie %}
{% include 'front/pies/menu_inf.html' %}
{% endblock %}
