{% extends 'moduloAdm/base_adm.html' %}
{% block encabezado %}
{% include 'moduloAdm/cabeceras/menu1.html' %}
{% endblock %}
{% block cuerpo %}
  <div id='main'>
    {% include 'moduloAdm/widgest/side_adm.html' %}
    <article id="principal">
      {% block contenido %}
          <h1> listado usuarios</h1>
          <table border="2">
              <thead>
                <tr>
                  <th>last_name</th>
                  <th>login</th>
                  <th>username</th>
                  <th>first_name</th>
                  <th>email</th>
                </tr>
              </thead>
            <tbody>
              {% for User in  object_list %}
              <tr>
                <td>{{ User.last_name }}</td>
                <td>{{ User.last_login }}</td>
                <td>{{ User.username }}</td>
                <td>{{ User.first_name }}</td>
                <td>{{ User.email }}</td>
                <td><a href="{% url 'editarusu' User.id  %}"> Editar </a> <a href="{% url 'eliminarusu' User.id  %} "> Eliminar </a></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
      {% endblock %}
    </article>
    <script language="JavaScript" type="text/javascript">
      $(document).ready(function () {
        $('.dropdown-toggle').dropdown();
      });
    </script>
  </div>
{% endblock %}
{% block pie %}
{% include 'front/pies/menu_inf.html' %}
{% endblock %}
