<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block titulo %} listado de Permisos {% endblock titulo %}</title>
  </head>
  <body>
    {% block cuerpo %}
    <h1> listado permisos</h1>
    <table border="2">
        <thead>
          <tr>
            <th>id</th>
            <th>Nombre</th>
            <th>Activo</th>
            <th>opcion</th>
          </tr>
        </thead>
      <tbody>
        {% for Permiso in  object_list %}
        <tr>
          <td>{{ Permiso.id_permisos }}</td>
          <td>{{ Permiso.nom_permiso }}</td>
          <td>{{ Permiso.activo }}</td>
          <td><a href="{% url 'editarpermiso' Permiso.id_permisos %}"> Editar </a> <a href="{% url 'eliminarpermiso' Permiso.id_permisos %} "> Eliminar </a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
      {% endblock cuerpo %}
  </body>
</html>
