{% load static %}
{% csrf_token %}

<!-- metadatos del documento (head)-->
{% block meta_menu_ppal %}
{% endblock meta_menu_ppal%}

{% block menu_ppal %}
<nav class="nav-extendida">
    <div class="nav-sup" style="vertical-align:middle">
        <a href="inicio" class="disparador-navlateral" onclick="operar_navlateral()">
            <i class="material-icons">menu</i>
        </a>
        <div class="logotipo">
            <a href="inicio" class="logotipo der">
                <img src="{% static 'img/logo.png' %}" alt="Logo" style="height:40px" ></img>
            </a>
        </div>
        <div class="nav-titulo">
            SIGEPI-USTA
        </div>
    </div>
</nav>
{% endblock menu_ppal %}

{% block script_menu_ppal%}
<script type="text/javascript">
function operar_navlateral() {
    if (document.getElementById("panel_der").style.width = "0px") {
        document.getElementById("cont_pn_der").style.width = "250px";
        document.getElementById("app").style.marginLeft = "250px";
    }    
    else if (document.getElementById("panel_der").style.width !== "0px") {
        document.getElementById("cont_pn_der").style.width = "0px";
        document.getElementById("app").style.marginLeft = "0px";
    }
}
 </script>
{% endblock script_menu_ppal%}