{% load static %}
{% csrf_token %}

<!-- metadatos del documento (head)-->
{% block meta_menu_ppal %}
{% endblock meta_menu_ppal%}

{% block menu_ppal %}
<nav class="nav-extendida">
    <div class="nav-sup" style="vertical-align:middle">
        <a href="#" data-target="panel_der" class="disparador-navlateral">
            <i class="material-icons">menu</i>
        </a>
        <div class="logotipo">
            <a href="inicio" class="logotipo der">
                <img src="{% static 'img/logo.png' %}" alt="Logo" style="height:40px" ></img>
            </a>
        </div>
        <div class="nav-titulo">
            SIGEPI-USTA
        </div>
    </div>
</nav>
{% endblock menu_ppal %}

{% block script_menu_ppal%}
<script type="text/javascript">
document.addEventListener('DOMContentLoaded', function() {
   var elems = document.querySelectorAll('.navlateral');
   var instances = M.Sidenav.init(elems, options);
 });
 </script>
{% endblock script_menu_ppal%}