{% load static %}
 <!--información de usuario panel derecho que se carga una vez se ha autenticado -->
{% csrf_token %}

{% block panel_der %}
<!--Prueba-->
{% block encabezado_pn_der %}
<section id="encabezado_pn_der">
</section>
{% endblock encabezado_pn_der %}


<!--Información de usuario-->
{% block seccion_usuario %}
<section id="usu_pn_der">
    {% block autent_pn_der %}
    <nav class="navlateral">
        <ul class="">
            {% if user.is_authenticated %}
            <li class="nav-item activo">
                <span> Bienvenido(a) {{user.username}} </span>
            </li>
            <li class="nav-item active">
                <a href="" class="nav-link ">Grupos</a>
            </li>
            <li class="nav-item active">
                <a href="" class="nav-link ">Grupos</a>
            </li>
            <li class="nav-item active">
                <a href="" class="nav-link ">Instituciones</a>
            </li>
            <li class="nav-item dropdown active">
                <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Proyectos
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="">Ver Proyectos</a></li>
                    <li><a class="dropdown-item" href="">Registrar Proyectos</a></li>
                    <li><a class="dropdown-item" href="">Modificar Proyectos</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="">Eliminar Proyectos</a></li>
                </ul>
            </li>
            <li class="nav-item active">
                <a href="" class="nav-link ">Herramientas</a>
            </li>
            {% else %}
            <ul id="nav-lateral">
                <li>
                    <a href="">Ingresar</a>
                </li>
                <li>
                    <a href="">Registro</a>
                </li>
                <li>
                    <a href="" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" v-pre>
                        <span class="card"></span>
                    </a>
                </li>
                <li>
                    <a href="" onclick="event.preventDefault(); document.getElementById('logout-form').submit();">Salir</a>
                </li>
                <div class="tarjeta peque horizontal">
                    <div class="tarjeta-titulo">
                        Información de usuario
                    </div>
                    <div class="tarjeta-contenido">
                        <div class="alert alert-success" role="alert">
                            <a class="btn btn-outline-info" href="">Ingresar</a>
                            <a class="btn btn-outline-info" href="">Registrarse</a>
                        </div>
                    </div>
                </div>
            </ul>        
            {% endif %}
        </ul>
    </nav>
    {% endblock autent_pn_der %}
</section>
{% endblock seccion_usuario %}

<!--Información Tablero de Control-->
{% block tc_pn_der %}
<section id="tc_pn_der">
</section>
{% endblock tc_pn_der %}

<!--Información de aplicación-->
{% block app_pn_der %}
<section id="app_pn_der">
    <ul class="navlateral">
    <li>
        <div class="collapsible-header"><i class="material-icons">filter_drama</i>First</div>
        <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
    <li>
        <div class="collapsible-header"><i class="material-icons">place</i>Second</div>
        <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
    <li>
        <div class="collapsible-header"><i class="material-icons">whatshot</i>Third</div>
        <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
    </ul>
</section>
{% endblock app_pn_der %}

{% block mod_pn_der %}
<section id="mod_pn_der">
</section>
{% endblock mod_pn_der %}

{% block pie_pn_der %}
<section id="pie_pn_der">
</section>
{% endblock pie_pn_der %}

<!--Información de información varia-->
{% block seccion_info %}
<section id="info_pn_der">
</section>
{% endblock seccion_info %}

{% endblock panel_der %}
