{% load static %}
 <!--información de usuario panel derecho que se carga una vez se ha autenticado -->

{% block panel_der %}
<!--Prueba-->
{% block encabezado_pn_der %}
<!--Encabezado panel derecho-->
<section id="encbz_pn_der" class="seccion_pn_der">
    {% if user.is_authenticated %}
    <a class="btn_az_cl" href=""><i class="material-icons" alt="Usuario">account_circle</i></a>
    <a class="btn_az_cl" href=""><i class="material-icons" alt="Asignaciones">assignment</i></a>
    <a class="btn_az_cl" href=""><i class="material-icons" alt="Mensajes">email</i></a>
    <a class="btn_az_cl" href=""><i class="material-icons" alt="Notificaciones">notifications_active</i></a>
    {% else %}
    <a class="btn_az_cl" href=""><i class="material-icons" alt="Usuario">account_circle</i></a>
    <a class="btn_az_cl" href=""><i class="material-icons" alt="Asignaciones">assignment</i></a>
    <a class="btn_az_cl" href=""><i class="material-icons" alt="Mensajes">email</i></a>
    <a class="btn_az_cl" href=""><i class="material-icons" alt="Notificaciones">notifications_active</i></a>
    {% endif %}
</section>
{% endblock encabezado_pn_der %}

<!--Información de usuario-->
{% block seccion_usuario %}
<section id="usu_pn_der" class="seccion_pn_der">
    {% block autent_pn_der %}
    <ul class="nav-ul">
        {% if user.is_authenticated %}
        <li class="tarjeta">
            <div class="tarjeta-imagen">
                <img class="circulo" src="{% static 'img/person.svg' %}" alt="Imagen personal" width="80" height="80" >
                <div class="tarjeta-titulo">
                    <span> Bienvenido(a) {{user.username}} </span>
                </div>
                <div class="tarjeta-contenido">
                </div>
            </div>
        </li>
        <li class="nav-item activo">
            <a class="btn" href="">Salir</a>
        </li>
        {% else %}
        <li class="li_v">
            <div class="trj_pers">
                <div>
                    <img class="circulo" src="{% static 'img/person.svg' %}" alt="Imagen personal" width="80" height="80" >
                    <span>Información de usuario</span> 
                </div>
                <div class="">
                    <div class="">
                        <a class="btn_az_cl" href="{% url 'ingreso' %}">Ingresar</a>
                        <a class="btn_az_cl" href="{% url 'registro' %}">Registrarse</a>
                    </div>
                </div>
            </div>
        </li>  
        {% endif %}
    </ul>
    {% endblock autent_pn_der %}
</section>
{% endblock seccion_usuario %}

<!--Información Tablero de Control-->
{% block tc_pn_der %}
<section id="tc_pn_der">
</section>
{% endblock tc_pn_der %}

<!--Información de aplicación-->
{% block app_pn_der %}
<section id="app_pn_der" class="seccion_pn_der">
    <ul class="">
    <li>
        <div class=""><i class="material-icons">filter_drama</i>First</div>
        <div class=""><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
    <li>
        <div class=""><i class="material-icons">place</i>Second</div>
        <div class=""><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
    <li>
        <div class=""><i class="material-icons">whatshot</i>Third</div>
        <div class=""><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
    </ul>
</section>
{% endblock app_pn_der %}

{% block mod_pn_der %}
<section id="mod_pn_der" class="seccion_pn_der">
</section>
{% endblock mod_pn_der %}

{% block pie_pn_der %}
<section id="pie_pn_der" class="seccion_pn_der">
</section>
{% endblock pie_pn_der %}

<!--Información de información varia-->
{% block seccion_info %}
<section id="info_pn_der" class="seccion_pn_der">
</section>
{% endblock seccion_info %}

{% endblock panel_der %}