{% load static %}
<!--información de usuario panel derecho que se carga una vez se ha autenticado -->

{% block panel_der %}
<!--Prueba-->
<div id="cont_pn_der" class="cont_pn_der">
    {% block encabezado_pn_der %}
    <section id="encbz_pn_der" class="secc_pn_der">
     <!--Encabezado panel derecho-->
        <div id="br_pn_der" class="br_pn_der">
            <a class="btn_prm_cl" href="{% url 'inicio_pry' %}">
                <i class="material-icons" alt="Usuario">account_circle</i>
                <span>usuario</span>
            </a>
            <a class="btn_prm_cl" href="{% url 'inicio_pry' %}">
                <i class="material-icons" alt="proyectos">assignment</i>
                <span>Proyectos</span>
            </a>
            <a class="btn_prm_cl" href="">
                <i class="material-icons" alt="tareas">task</i>
                <span>Tareas</span>
            </a>
            <a class="btn_prm_cl" href="">
                <i class="material-icons" alt="Notificaciones">notifications_active</i>
                <span>Novedades</span>
            </a>
            <a class="btn_prm_cl" href="">
                <i class="material-icons" alt="Cerrar Sesión">output</i>
                <span>Salir</span>
            </a>
        </div>
    </section>
    {% endblock encabezado_pn_der %}
    
    {% block seccion_usuario %}
     <!--Información de usuario-->
    <div id="usu_pn_der_titulo" class="secc_titulo">
        <span>Inf. de Usuario(a)</span>
    </div>
    <section id="usu_pn_der" class="secc_pn_der">
        {% block autent_pn_der %}
            {% include 'trj_pers.html' %}
        {% endblock autent_pn_der %}
    </section>
    {% endblock seccion_usuario %}
    
    {% block tc_pn_der %}
    <!--Información Tablero de Control-->
    <div id="tc_pn_der_titulo" class="secc_titulo">
        <span>Tablero de Control</span>
    </div>
    <section id="tc_pn_der" class="secc_pn_der">
    </section>
    {% endblock tc_pn_der %}
    
    {% block app_pn_der %}
    <!--Información de aplicación-->
    <div id="app_pn_der_titulo" class="secc_titulo">
        <span>Inf. de Aplicación</span>
    </div>
    <section id="app_pn_der" class="secc_pn_der">
        <ul class="">
            <li>
                <div class=""><i class="material-icons">filter_drama</i>Informacion</div>
                <div class=""><span>Sistema de Gestion y Evalacion de proyectos de investigacion</span></div>
            </li>
            <li>
                <div class=""><i class="material-icons">place</i>Direccion</div>
                <div class=""><span>Direccion de Investigacion e Innovacion</span></div>
            </li>
            <li>
                <div class=""><i class="material-icons">whatshot</i>Contacto</div>
                <div class=""><span>Universidad Santo Tomas.</span></div>
            </li>
        </ul>
    </section>
    {% endblock app_pn_der %}

    {% block mod_pn_der %}
     <!--Información de Módulo-->
    <div id="mod_pn_der_titulo" class="secc_titulo">
        <span>Inf. de Módulo</span>
    </div>
    <section id="mod_pn_der" class="secc_pn_der">
    </section>
    {% endblock mod_pn_der %}

    {% block seccion_info %}
    <!--Información de información varia-->
    <div id="info_pn_der_titulo" class="secc_titulo">
        <span>Panel de inf.</span>
    </div>
    <section id="info_pn_der" class="secc_pn_der">
    </section>
    {% endblock seccion_info %}

    {% block pie_pn_der %}
    <section id="pie_pn_der" class="secc_pn_der">
    </section>
    {% endblock pie_pn_der %}
</div>
{% endblock panel_der %}