{% load static %}

{% block pie %}

<div class="pie" >
    <div class="fila">
        <div class="col s2 m2 l2" >
            <!-- Inicio -->            
            <a class="btn" href=""><i class="material-icons">home</i></a>
            <p>Inicio</p>
        </div>
        <div class="col s2 m2 l2" >
            <!-- Gestión -->
            <a class="btn" href=""><i class="material-icons">assessment</i></a>
            <p>Gestión</p>
        </div>
        <div class="col s2 m2 l2">
            <!-- Noticias, Eventos y Agenda-->
            <a class="btn" href=""><i class="material-icons">event</i></a>
            <p>Agenda</p>
        </div>
        <div class="col s2 m2 l2">
            <!-- Consultar-->
            <a class="btn" href="" ><i class="material-icons">search</i></a>
            <p>Consultar</p>
        </div>
        <div class="col s2 m2 l2">
            <!-- Configuración -->
            <a class="btn" href="" ><i class="material-icons">settings_applications</i></a>
            <p>Config.</p>
        </div>
        <div class="col s2 m2 l2">
            <!-- Herramientas -->
            <a class="btn" href=""><i class="material-icons">apps</i></a>
            <p>Herram.</p>
        </div>
    </div>
    <div class="fila">
        <div class="col s12 m12 l12">
        <p>© 2022 Copyright Universidad Santo Tomás</p>
        </div>
    </div>

</div>
{% endblock pie %}

