{% load static %}

<div id="pie_extra" class="pie_extra">
    {% block pie_extra%}
        <p>pie extra</p>
    {% endblock pie_extra%}
</div>
<div id="pie_ppal" class="pie_ppal">
    {% block pie_ppal %}
    <div class="cnt_pie">
        <div class="item" >
            <!-- Inicio -->            
            <a class="btn_pie" href="inicio" >
                <i class="material-icons">home</i>
                Inicio
            </a>
        </div>
        <div class="item">
            <!-- Gestión -->
            <a class="btn_pie" href="inicio">
                <i class="material-icons">assessment</i>
                Gestión
            </a>
        </div>
        <div class="item">
            <!-- Noticias, Eventos y Agenda-->
            <a class="btn_pie" href="inicio">
                <i class="material-icons">event</i>
                Agenda
            </a>
            
        </div>
        <div class="item">
            <!-- Consultar-->
            <a class="btn_pie" href="inicio" >
                <i class="material-icons">search</i>
                Consultar
            </a>
        </div>
        <div class="item">
            <!-- Configuración -->
            <a class="btn_pie" href="inicio" >
                <i class="material-icons">settings_applications</i>
                Config.
            </a>
        </div>
        <div class="item">
            <!-- Herramientas -->
            <a class="btn_pie" href="inicio">
                <i class="material-icons">apps</i>
                Herram.
            </a>            
        </div>
    </div>
    {% endblock pie_ppal %}
</div>
<div id="der_copia" class="der_copia">
    <p>© 2022 Copyright Universidad Santo Tomás</p>
</div>