<!--- Plantilla para la consulta del registro de un requerimiento de calidad - plantillas para SIGEPI
#Autor: Daniel Alejandro Ballesteros Algarra
# Coautor(a):  Milton O. Castro Ch.
#fecha 26-08 -2022 --->

{% extends 'app_regreq_cal_iu.html' %} 
{% load static %}
{% block meta_app %}{% endblock meta_app%}
{% block meta_panel_ppal %}{% endblock meta_panel_ppal%}
{% block meta_pie_app%}{% endblock meta_pie_app%}
{% block consulta %}
{% block articulo %} 

<div>
    <p>Consulta del requerimiento de calidad de un producto de investigacion</p>
</div>

{% if form.errors %}
    <p>No se ha podido realizar la consulta en este momento, porfavor intentelo mas tarde.</p>
{% endif %}

<!--CONSULTAR UN REQUERIMIENTO DE CALIDAD-->
<form method="GET">
    <table>
        <thead>
            <tr>
                
                <th>#</th>  
                <th>Descripcion del requerimiento </th>  

            </tr>
        </thead>
        <tbody>
            {% for prd_req_cal in object_list %}
                <tr>

                    <td> {{ prd_req_cal.id_reqcal}} </td> 
                    <td> {{ prd_req_cal.desc_reqcal}} </td> 

                </tr>
            {% endfor %}
        </tbody>
    </table>
</form>

{% endblock articulo %}
{% endblock consulta %}


{% block script_app%}{% endblock script_app%}
{% block script_menu_app%}{% endblock script_menu_app%}
{% block script_pie_app%}{% endblock script_pie_app%}