<!--- Plantilla para la vista de los detalles del producto - plantillas para SIGEPI
#Autor: Daniel Alejandro Ballesteros Algarra
# Coautor(a):  Milton O. Castro Ch.
#fecha 25 -08 -2022 --->

{% extends 'app_regprd_iu.html' %} 
{% load static %}
{% block meta_app %}{% endblock meta_app%}
{% block meta_panel_ppal %}{% endblock meta_panel_ppal%}
{% block meta_pie_app%}{% endblock meta_pie_app%}
{% block consulta %}
{% block articulo %}

<div>
    <p>Consulta del producto de investigacion</p>
</div>

{% if form.errors %}
    <p>No se ha podido realizar la consulta en este momento, porfavor intentelo mas tarde.</p>
{% endif %}

<!--CONSULTAR UN PRODUCTO-->
<form method="GET">
    {{form.as_ul}}
    <div>
        {% for prd_base in  object_list %}
        <p><b>Nombre del producto:</b><label> {{ prd_base.nom_prd}} </label></p>
        <p><b>Proyectos de los cuales se basa:</b></b><label> {{ prd_base.ids_pry}} </label></p>
        <p><b>Propietarios del producto:</b><label> {{ prd_base.ids_usu}}</label></p>
        <p><b>Fecha de entrega estimado:</b><label> {{ prd_base.fech_entrega}}</label></p>
        <p><b>Tipo de producto: </b><label> {{ prd_base.id_tipo_prd_minc}} </label></p>
        <p><b>Plantilla que rige el producto: </b><label> {{ prd_base.id_rl_prd_campos}} </label></p>
        {% endfor %}
    </div>
</form>

{% endblock articulo %}
{% endblock consulta %}


{% block script_app%}{% endblock script_app%}
{% block script_menu_app%}{% endblock script_menu_app%}
{% block script_pie_app%}{% endblock script_pie_app%}