<!--- Plantilla para la consulta del registro de un requerimiento de calidad - plantillas para SIGEPI
#Autor: Daniel Alejandro Ballesteros Algarra
# Coautor(a):  Milton O. Castro Ch.
#fecha 26-08 -2022 --->

{% load static %}
{% block consulta %}
<div>
    <p>Consulta del requerimiento de calidad de un producto de investigacion</p>
</div>

{% if form.errors %}
    <p>No se ha podido realizar la consulta en este momento, porfavor intentelo mas tarde.</p>
{% endif %}

<!--CONSULTAR UN REQUERIMIENTO DE CALIDAD-->
<form method="GET">
    {{form.as_ul}}
    <div>
        {% for prd_req_Exist in  object_list %}
        <p><b>categoria del requerimiento de calidad:</b><label> {{ prd_req_cal.id_categ}} </label></p>
        <p><b>Descripcion del requerimiento de calidad:</b></b><label> {{ prd_req_cal.desc_reqcal}} </label></p>
        {% endfor %}
    </div>
</form>