<!--- Plantilla para la vista de los detalles del producto - plantillas para SIGEPI
#Autor: Daniel Alejandro Ballesteros Algarra
# Coautor(a):  Milton O. Castro Ch.
#fecha 25 -08 -2022 --->

{% extends 'app_regprd_iu.html' %} 
{% load static %}
{% block meta_app %}{% endblock meta_app%}
{% block meta_panel_ppal %}{% endblock meta_panel_ppal%}
{% block meta_pie_app%}{% endblock meta_pie_app%}
{% block consulta %}
{% block articulo %}

<div>
    <p>Consulta del producto de investigacion</p>
</div>

{% if form.errors %}
    <p>No se ha podido realizar la consulta en este momento, porfavor intentelo mas tarde.</p>
{% endif %}

<!--CONSULTAR UN PRODUCTO-->

<form method="GET">
    <table>
        <thead>
            <tr>
                <th>#</th>  
                <th>Nombre del producto:</th>  
                <th>Proyectos de los cuales se basa </th> 
                <th>Propietarios del producto</th> 
                <th>Fecha de registro</th>
                <th>Fecha de entrega estimado</th>
                <th>Tipo de producto:</th>
                <th>Plantilla que rige el producto</th> 
            </tr>
        </thead>
        <tbody>
            {% for prd_base in object_list %}
                <tr>
                    <td> {{ prd_base.id_prd}} </td> 
                    <td> {{ prd_base.nom_prd}} </td> 
                    <td>  {{ prd_base.ids_pry}} </td> 
                    <td>  {{ prd_base.ids_usu}} </td> 
                    <td>  {{ prd_base.fech_reg}} </td> 
                    <td>  {{ prd_base.fech_entrega}} </td> 
                    <td>  {{ prd_base.id_tipo_prd_minc}} </td> 
                    <td>  {{ prd_base.id_rl_prd_campos}} </td> 
                </tr>
            {% endfor %}
        </tbody>
    </table>
</form>

{% endblock articulo %}
{% endblock consulta %}


{% block script_app%}{% endblock script_app%}
{% block script_menu_app%}{% endblock script_menu_app%}
{% block script_pie_app%}{% endblock script_pie_app%}