<!--- Plantilla para la vista de la consulta de los tipos de productos - plantillas para SIGEPI
#Autor: Daniel Alejandro Ballesteros Algarra
# Coautor(a):  Milton O. Castro Ch.
#fecha 08 -09 -2022 --->

{% extends 'app_regtipo_iu.html' %} 
{% load static %}
{% block meta_app %}{% endblock meta_app%}
{% block meta_panel_ppal %}{% endblock meta_panel_ppal%}
{% block meta_pie_app%}{% endblock meta_pie_app%}
{% block consulta %}
{% block articulo %}


<div>
    <p>Consulta del tipo de producto</p>
</div>

{% if form.errors %}
    <p>No se ha podido realizar la consulta en este momento, porfavor intentelo mas tarde.</p>
{% endif %}

<!--CONSULTAR UN TIPO DE PRODUCTO-->

    <table>
        <thead>
            <tr>
                <th>#</th>  
                <th>Nombre del tipo de producto:</th>  
                <th>Requerimientos de existencia :</th> 
                <th>Requerimientos de calidad :</th> 
                <th>Categoria:</th>
                <th>Peso absoluto:</th>
                <th>Ventana de observacion:</th> 
                <th>Calidad:</th> 
            </tr>
        </thead>
        <tbody>
            {% for prd_tipo in object_list %}
                <tr>
                    <td> {{ prd_tipo.id_tipo}} </td> 
                    <td> {{ prd_tipo.nom_tipo}} </td> 
                    <td>  {{ prd_tipo.id_reqexist}} </td> 
                    <td>  {{ prd_tipo.id_reqcal}} </td> 
                    <td>  {{ prd_tipo.id_categ}} </td> 
                    <td>  {{ prd_tipo.peso_abs}} </td> 
                    <td>  {{ prd_tipo.vent_obs}} </td> 
                    <td>  {{ prd_tipo.tipo_cal}} </td> 
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{% url 'listar_tipo' %}">
        <button type="submit" name="Back" >
            Volver
        </button>
    </a>  

{% endblock articulo %}
{% endblock consulta %}


{% block script_app%}{% endblock script_app%}
{% block script_menu_app%}{% endblock script_menu_app%}
{% block script_pie_app%}{% endblock script_pie_app%}
