<!--- Plantilla para la vista de la edicion de un campo de producto - plantillas para SIGEPI
#Autor: Daniel Alejandro Ballesteros Algarra
# Coautor(a):  Milton O. Castro Ch.
#fecha 08 -09 -2022 --->

{% extends 'app_regcampo_iu.html' %}
{% load static %}

{% block articulo %}

<!--Plantilla para editar un campo de producto-->
<div class="cnt_norm">
  <h1>{{ tit_form }}</h1> 
    <form class="" action="" method="post">
      {% csrf_token %}
      {{ form.as_p}}
      <a href="">
            <button type="submit" >Editar</button>
      </a>
    
    </form>
</div>

{% endblock articulo %}