<!--- Plantilla para la vista de la edicion de una medicion - plantillas para SIGEPI
#Autor: Daniel Alejandro Ballesteros Algarra
# Coautor(a):  Milton O. Castro Ch.
#fecha 23 -09 -2022 --->

{% extends 'app_regmed_iu.html' %}
{% load static %}

{% block articulo %}
<!--Plantilla para editar una medicion -->
<div class="cnt_norm">
  <h1>{{ tit_form }}</h1> 
    <form class="" action="" method="post">
      {% csrf_token %}
      {{ form.as_p}}
      <a href="">
            <button type="submit" >Editar</button>
      </a>
    </form>
    <a href="{% url 'listar_prd' %}">
      <button type="submit" >Volver</button>
    </a>
</div>
{% endblock articulo %}