<!--- Plantilla para la vista de la eliminacion de una medicion - plantillas para SIGEPI
#Autor: Daniel Alejandro Ballesteros Algarra
# Coautor(a):  Milton O. Castro Ch.
#fecha 11 -10 -2022 --->


{% extends 'app_regetp_iu.html' %}

{% block articulo %}
<h1>{{ tit_form }}</h1> 
  <form class="" action="" method="post">
    {% csrf_token %}
    <h3>¿Desea eliminar la etapa permanentemente?</h3>
    <button class = "btm btn-danger"type="submit" >Sí, eliminar</button>
    <a class= "btn btn-default" href="">Cancelar</a>
  </form>
{% endblock articulo %}