{% load static %}

{% block pie %}
<div class="contenedor">
    <div class="item">
        <!-- Inicio -->            
        <a class="btn" href="inicio"><i class="material-icons">home</i></a>
        <p>Inicio</p>
    </div>
    <div class="item">
        <!-- Gestión -->
        <a class="btn" href="inicio"><i class="material-icons">assessment</i></a>
        <p>Gestión</p>
    </div>
    <div class="item">
        <!-- Noticias, Eventos y Agenda-->
        <a class="btn" href="inicio"><i class="material-icons">event</i></a>
        <p>Agenda</p>
    </div>
    <div class="item">
        <!-- Consultar-->
        <a class="btn" href="inicio" ><i class="material-icons">search</i></a>
        <p>Consultar</p>
    </div>
    <div class="item">
        <!-- Configuración -->
        <a class="btn" href="inicio" ><i class="material-icons">settings_applications</i></a>
        <p>Config.</p>
    </div>
    <div class="item">
        <!-- Herramientas -->
        <a class="btn" href="inicio"><i class="material-icons">apps</i></a>
        <p>Herram.</p>
    </div>
</div>
<div class="derechos">
    <p style="font-size:smaller">© 2022 Copyright Universidad Santo Tomás</p>
</div>
{% endblock pie %}

