/* sigepi.css: menús del diseño */

.menu{
    position: relative;
    display:flex;
    gap:5px;
    vertical-align: middle;
    width: 100%;
    top:0px;
    left: 0;
    font-family:var(--fam-fuentes-titulos);
    font-size: .8rem;
}
.menu_app{
   @extend .menu;
   height: 45px;
}

.menu_ppal {
    @extend .menu;
    height: 55px;
    .cnt_btn_menu{
        display:flex;
        justify-items: center;
        margin-top:10px;
        margin-left: 10px;
        i{
            font-size: 2rem;
        }
    }
    .titulo {
        color: var(--color-blanco);
        font-size: 24px;
        padding-right: 3px;
        margin-left: auto;
        margin-top:auto;
        margin-bottom:auto;
    }
    .logotipo {
        right:0;
        margin-top:5px;
        margin-bottom:auto;
        a{
            text-decoration: none;
        }
        img{
            height:45px;
        }
    }
    
}
