/* sigepi.css: pies del diseño */
.pie{
    position:fixed;
    display:grid;
    grid-template-rows:10px 55px 10px;
    width: 100%;
    left: 0;
    bottom:0px;
    align-items: center;
    overflow: hidden;
    background-color: var(--color-primario);
    &_extra{
        display: block;
        margin-top: 0px; 
    }
    &_ppal {
        display: block;
        height: 55px;
        color: var(--color-primario-tr);
        }
    .der_copia{
        display: block;
        margin-top: 0px;
    }
    p{
        text-align: center;
        color: var(--color-primario-2);
        font-size: smaller;
        font-family: var(--fam-fuentes-titulos);
    }
}

.pie_app {
    width: 100%;
}