/* sijepi: tarjetas del diseño */
.trj_pers {
    /*tarjeta personal*/
    background-color:--color-primario-tr;
    width: 100%;
    min-height: 150px;
    margin-bottom: 2px;
    position: relative;
    text-align: center;
    display: flex;
    top: 2px;
    overflow:hidden;
    border: 2px solid rgba(175, 244, 255, 0.521);
    box-shadow: 3px 3px 3px rgba(187, 246, 255, 0.521);
    border-radius:3px;
    padding: 2px 2px 2px 2px;  
  }