{% extends 'index_adm.html' %}
{% block titulo %} Listado de Grupos {% endblock titulo %}
{% block cuerpo %}
{% if form.errors %}
    <p>La lista de aplicaciones de grupos no se ha podido consultar.</p>
{% endif %}
<form method="POST">
    <div class="table-responsive">
        <table class="table">
            <h2>Listado de modulos</h2>
            <thead>
                <tr>
                    <th>#</th>
                    <th>Nombre</th>
                    <th colspan="2">Opciones</th>
                </tr>
            </thead>
            {% for Group in  object_list %}
                <tbody>
                    <tr>
                        <td> {{ Group.id }} </td>
                        <td> {{ Group.name}} </td>
                        <td> <a href="../edt_grp/{{Group.id}}" class="btn btn-block btn-sm btn-info">Editar</a><br></td>
                        <td> <a href="../eli_grp/{{Group.id}}" class="btn btn-block btn-sm btn-danger">Eliminar</a><br><br></td> 
                    </tr>
                </tbody>
            {% endfor %}
        </table> 
    </div>
</form>
{% endblock cuerpo %}
