{% extends 'index_adm.html' %}
{% block titulo %} Listado de Modulos {% endblock titulo %}
{% block cuerpo %}
{% if form.errors %}
    <p>La lista de usuario no se ha logrado consultar.</p>
{% endif %}


<form method="POST">
        {% for mod in  object_list %}
        <label> {{ mod.id_mod }} </label>
        <label> {{ mod.titulo}} </label>
        <label> {{ mod.desc}} </label>
        <label> {{ mod.url_doc}} </label>
        <label> {{ mod.version }} </label>
        <label> {{ mod.activo}} </label>
        <label> {{ mod.instalado}} </label>
        <label> {{ mod.visible }} </label>
        <label> {{ mod.activo}} </label>
        <label> {{ mod.ls_param_cnf}} </label><br>
        {% endfor %}
</form>
{% endblock cuerpo %}
