{% extends 'index_adm_prb.html' %}
{% block titulo %} Listado de usuario institucion {% endblock titulo %}
{% block cuerpo %}
{% if form.errors %}
    <p>La lista de usuario no se ha logrado consultar.</p>
{% endif %}
<h3>Lista de Institución</h3>

<form method="POST">
    {{form.as_ul}}

    <div>
        {% for usui in  object_list %}
        <label> {{ usui.id_usuinst }} </label>
        <label> {{ usui.passinst}} </label>
        <label> {{ usui.id_usu_admin}} </label>
        <label> {{ usui.id_rol_app}} </label>
        <label> {{ usui.fch_regi}} </label>
        <label> {{ usui.activo}} </label><br>
            {% block modf_consl %}

            {% endblock modf_consl  %}
        {% endfor %}

</form>
{% endblock cuerpo %}
