{% block br_herr %}
<div id="enc_br_herr" class="enc_br_herr">
    <span>Administración del sistema</span>
</div>
<nav id="br_app" class="br_app">
    <ul>
       
        <li>
            <a href=""><i class="material-icons">folder_copy</i><span>Modulos</span>
            <ul class="categ_br_herr">
                <li><a href="{% url 'cons_mod' %}"><i class="material-icons">table_rows</i><span>Consulta de Modulos</span></a></li>
                <li><a href="{% url 'reg_mod' %}"><i class="material-icons">add_box</i><span>Nuevo Modulo</span></a></li>
                
            </ul>
        </li>
        
        <li>
                    
            <a href=""><i class="material-icons">window</i><span>Aplicaciones</span>
            <ul class="categ_br_herr">
                <li><a href="{% url 'cons_apps' %}"><i class="material-icons">table_rows</i><span>Consulta de Aplicaciones</span></a></li>
                <li><a href=""><i></i><span></span></a></li>
                <li><a href=""><i></i><span></span></a></li>
            </ul>
            
        </li>
        
            
        <li>
            <a href=""><i class="material-icons">supervised_user_circle</i><span>Roles</span>
            <ul class="categ_br_herr">
                <li><a href="{% url 'consulta_rol' %}"><i class="material-icons">table_rows</i><span>Consultar Roles</span></a></li>
                <li><a href="{% url 'reg_rol' %}"><i class="material-icons">add_box</i><span>Agregar Rol</span></a></li>
                <li><a href=""><i></i><span></span></a></li>
                <li><a href=""><i></i><span></span></a></li>
            </ul>
        </li>

        <li>
            <a href=""><i class="material-icons">settings_applications</i><span>Funciones</span>
            <ul class="categ_br_herr">
                <li><a href=""><i></i><span></span></a></li>
                <li><a href=""><i></i><span></span></a></li>
                <li><a href=""><i></i><span></span></a></li>
                <li><a href=""><i></i><span></span></a></li>
            </ul>
        </li>

        <li>
            <a href=""><i class="material-icons">manage_accounts</i><span>Usuarios</span>
            <ul class="categ_br_herr">
                <li><a href="{% url 'cons_usu' %}"><i class="material-icons">table_rows</i><span>Consultar Usuarios</span></a></li>
                <li><a href="{% url 'crea_nvo_usu' %}"><i class="material-icons">person_add_alt</i><span>Registar Usuario</span></a></li>
                <li><a href="{% url 'cons_discapacidad' %}"><i class="material-icons">accessibility</i><span>Discapacidades</span></a></li>
                <li><a href="{% url 'reg_habpers' %}"><i class="material-icons">add_task</i><span>Habilidades</span></a></li>
                <li><a href=""><i></i><span></span></a></li>
                <li><a href=""><i></i><span></span></a></li>
            </ul>
        </li>
        <li>
            <a href=""><i class="material-icons">business</i><span>Instituciones</span>
            <ul class="categ_br_herr">
                <li><a href="{% url 'cons_usui' %}"><i class="material-icons">corporate_fare</i><span>Consultar Intituciones</span></a></li>
                <li><a href="{% url 'creausui' %}"><i class="material-icons">domain_add</i><span>Agregar Institución</span></a></li>
                <li><a href=""><i></i><span></span></a></li>
            </ul>
        </li>
        <li>
            <a href=""><i class="material-icons">groups</i><span>Grupos</span>
            <ul class="categ_br_herr">
                <li><a href="{% url 'cons_usugr' %}"><i class="material-icons">groups</i><span>Consultar grupos</span></a></li>
                <li><a href="{% url 'crear_usugr' %}"><i class="material-icons">group_add</i><span>Agregar grupos</span></a></li>
                <li><a href=""><i></i><span></span></a></li>
            </ul>
        </li>
    </ul>
</nav>
{% endblock br_herr %}