{% block br_herr %}
    <div id="enc_br_herr" class="enc_br_herr">
        <span>Proyectos de Investigación</span>
    </div>
    <nav id="br_app" class="br_app">
        <ul>
            <li>
                <a href=""><i class="material-icons">fact_check</i><span>Mis Proyectos</span></a>           
                <ul class="categ_br_herr">
                    <li><a href="{% url 'cn_pry' %}"><i class="material-icons">person</i><span>Personales</span></a></li> 
                    <li><a href="{% url 'cn_pry' %}"><i class="material-icons">groups</i><span>Grupales</span></a></li> 
                    <li><a href="{% url 'cn_pry' %}"><i class="material-icons">business</i><span>Institucionales</span></a></li> 
                    <li><a href="{% url 'cn_pry' %}"><i class="material-icons">hub</i><span>InterInstitucionales</span></a></li>
                </ul>
            </li>
            <li>
                <a href=""><i class="material-icons">receipt_long</i><span>Registro de Proy.</span></a>
                <ul class="categ_br_herr">
                    <li><a href="{% url 'crea_pry' %}"><i class="material-icons">post_add</i><span>Nuevo Pry. Personal</span></a></li> 
                    <li><a href="{% url 'crea_pry' %}"><i class="material-icons">post_add</i><span>Nuevo Pry. Grupo</span></a></li> 
                    <li><a href="{% url 'crea_pry' %}"><i class="material-icons">post_add</i><span>Nuevo Pry. Inst.</span></a></li> 
                    <li><a href="{% url 'crea_pry' %}"><i class="material-icons">post_add</i><span>Nuevo Pry. InterInst.</span></a></li>
                </ul>
            </li>
            <li>
                <a href=""><i class="material-icons">price_check</i><span>Gestión de Proy.</span></a>
                <ul class="categ_br_herr">
                    <li>
                        <a href=""><i class="material-icons">linear_scale</i><span>Estado de mis Pry.</span></a>
                        <ul class="categ_br_herr">
                            <li><a href="{% url 'crea_dis' %}"><i class="material-icons">app_registration</i><span>Nuevo diseño de proyecto</span></a></li> 
                            <li><a href="{% url 'cn_dispry' %}"><i class="material-icons">image_search</i><span>Diseño de proyectos</span></a></li>
                        </ul>
                    </li>
                    <li><a href="{% url 'inicio' %}"><i class="material-icons">group</i><span>Colaborar</span></a></li> 
                    <li><a href="{% url 'inicio' %}"><i class="material-icons">group_add</i><span>Buscar Colaboradores(as)</span></a></li> 
                    <li><a href="{% url 'inicio' %}"><i class="material-icons">paid</i><span>Patrocinadores</span></a></li>
                    <li><a href="{% url 'inicio' %}"><i class="material-icons">school</i><span>Formación</span></a></li>
                    <li>
                        <a href=""><i class="material-icons">group_add</i><span>Convenios</span></a>
                        <ul class="categ_br_herr">
                            <li><a href="{% url 'crea_conve' %}"><i class="material-icons">extension</i><span>Nuevo Convenio</span></a></li> 
                            <li><a href="{% url 'cn_conve' %}"><i class="material-icons">data_thresholding</i><span>Convenios</span></a></li>
                        </ul>
                    </li> 
                    <li>
                        <a href=""><i class="material-icons">event_note</i><span>Cronograma</span></a>
                        <ul class="categ_br_herr">
                            <li><a href="{% url 'creacrono' %}"><i class="material-icons">edit_calendar</i><span>Nuevo Cronograma</span></a></li> 
                            <li><a href="{% url 'vercrono' %}"><i class="material-icons">calendar_view_day</i><span>Mis cronogramas</span></a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                <a href=""><i class="material-icons">rule</i><span>Evaluación de Proy.</span></a>
                <ul class="categ_br_herr">
                    <li><a href="{% url 'crear_eva' %}"><i class="material-icons">flaky</i><span>Evaluar Pry.</span></a></li> 
                    <li><a href="{% url 'inicio' %}"><i class="material-icons">event_available</i><span>Proy. en Evaluación</span></a></li> 
                    <li><a href="{% url 'inicio' %}"><i class="material-icons">how_to_reg</i><span>Solicitar Evaluador(a)</span></a></li> 
                    <li><a href="{% url 'crear_rub' %}"><i class="material-icons">beenhere</i><span>Crear Rúbrica de Eval.</span></a></li>
                    <li><a href="{% url 'inicio' %}"><i class="material-icons">assignment_turned_in</i><span>Pry. Evaluados</span></a></li>
                </ul>
            </li>
            <li>
                <a href="{% url 'inicio' %}"><i class="material-icons">troubleshoot</i><span>Programas de investigación</span></a>
                <ul class="categ_br_herr">
                    <li><a href="{% url 'cn_prgi' %}"><i class="material-icons">insights</i><span>Mis Programas</span></a></li> 
                    <li><a href="{% url 'crea_prgi' %}"><i class="material-icons">post_add</i><span>Registro de Prog.</span></a></li> 
                </ul>
            </li>
            <li><a href="{% url 'inicio' %}"><i class="material-icons">schema</i><span>Marco Lógico</span></a></li>
            <li> 
                <a href=""><i class="material-icons">bookmarks</i><span>Convocatorias</span></a>
                <ul class="categ_br_herr">
                    <li><a href="{% url 'crea_convo' %}"><i class="material-icons">note_add</i><span>Nueva Convocatoria</span></a></li> 
                    <li><a href="{% url 'cn_convo' %}"><i class="material-icons">manage_search</i><span>Convocatorias</span></a></li> 
                </ul>
            </li>
            <li> 
                <a href="{% url 'inicio' %}"><i class="material-icons">precision_manufacturing</i><span>Recursos</span></a>
                <ul class="categ_br_herr">
                    <li><a href="{% url 'crea_recu' %}"><i class="material-icons">playlist_add</i><span>Nuevo Recurso</span></a></li> 
                    <li><a href="{% url 'cn_recu' %}"><i class="material-icons">manage_search</i><span>Recursos</span></a></li> 
                </ul>
            </li>
            
            <li>
                <a href=""><i class="material-icons">category</i><span>Registrar productos de inv.</span></a>           
                <ul class="categ_br_herr">
                    <h1> ¿Que desea hacer? </h1>
                    <li><a href="{% url 'crear_prd' %}"><i class="material-icons">addchart</i><span>Registrar Prod.</span></a></li>
                    <li><a href="{% url 'crear_reqexs' %}"><i class="material-icons">analytics</i><span>requerimientos de existencia</span></a></li> 
                    <li><a href="{% url 'reqcal' %}"><i class="material-icons">analytics</i><span>requerimientos de calidad</span></a></li> 
                    <li><a href="{% url 'crear_categ' %}"><i class="material-icons">class</i><span>categoria</span></a></li>
                    <li><a href="{% url 'regtipo' %}"><i class="material-icons">menu</i><span>Tipo de Producto</span></a></li>
                    <li><a href="{% url 'regcampo' %}"><i class="material-icons">menu</i><span>Campo</span></a></li>
                </ul>
            </li>
        </ul>
    </nav> 
{% endblock br_herr %}