{% block br_herr %}
<div id="enc_br_herr" class="enc_br_herr">
    <span>Administración del sistema</span>
</div>
<nav id="br_app" class="br_app">
    <ul>
       
        <li>
            <a href=""><i class="material-icons">folder_copy</i><span>Modulos</span>
            <ul class="categ_br_herr">
                <li><a href="{% url 'cons_mod' %}"><i class="material-icons">table_rows</i><span>Consulta de Modulos</span></a></li>
                <li><a href="{% url 'reg_mod' %}"><i class="material-icons">add_box</i><span>Nuevo Modulo</span></a></li>
                
            </ul>
        </li>
        
        <li>
                    
            <a href=""><i class="material-icons">window</i><span>Aplicaciones</span>
            <ul class="categ_br_herr">
                <li><a href="{% url 'cons_apps' %}"><i class="material-icons">table_rows</i><span>Consulta de Aplicaciones</span></a></li>
                <li><a href=""><i></i><span></span></a></li>
                <li><a href=""><i></i><span></span></a></li>
            </ul>
            
        </li>
        
            
        <li>
            <a href=""><i class="material-icons">supervised_user_circle</i><span>Roles</span>
            <ul class="categ_br_herr">
                <li><a href="{% url 'consulta_rol' %}"><i class="material-icons">table_rows</i><span>Consultar Roles</span></a></li>
                <li><a href="{% url 'reg_rol' %}"><i class="material-icons">add_box</i><span>Agregar Rol</span></a></li>
                <li><a href=""><i></i><span></span></a></li>
                <li><a href=""><i></i><span></span></a></li>
            </ul>
        </li>

        <li>
            <a href=""><i class="material-icons">settings_applications</i><span>Funciones</span>
            <ul class="categ_br_herr">
                <li><a href=""><i></i><span></span></a></li>
                <li><a href=""><i></i><span></span></a></li>
                <li><a href=""><i></i><span></span></a></li>
                <li><a href=""><i></i><span></span></a></li>
            </ul>
        </li>

        <li>
            <a href=""><i class="material-icons">manage_accounts</i><span>Usuarios</span>
            <ul class="categ_br_herr">
                <li><a href=""><i></i><span></span></a></li>
                <li><a href=""><i></i><span></span></a></li>
                <li><a href=""><i></i><span></span></a></li>
                <li><a href=""><i></i><span></span></a></li>
            </ul>
        </li>
    </ul>
</nav>
{% endblock br_herr %}