{% load static %}

{% block trj_pry %}
<div id="trj_pry" class="trj_pry">
    <div id="trj_pry_simple" class="trj_pry_simple">
        <span>simple</span>
    </div>
    <div id="" class="trj_pry_br">
        <a  href="">
            <i class="material-icons">description</i>
            <span>Ver</span>
        </a>
        <a  href="">
            <i class="material-icons">edit</i>
            <span>Editar</span>
        </a>
        <a   href="">
            <i class="material-icons">add</i>
            <span>Agregar</span>
        </a>
        <a  href="">
            <i class="material-icons">delete</i>
            <span>Eliminar</span>
        </a>
    </div>
</div>

{% endblock trj_pry %}