{% load static %}

{% block trj_pry %}
<div id="trj_pry" class="trj_pry">
    <div id="trj_pry_simple" class="trj_pry_simple">
        <div id="cnt_sup" class="cnt_sup">
            <div id="cnt_sup_img">
                <i class="material-icons"></i>
                <span id="cnt_sup_img_base"></span>
            </div>
            <div id="cnt_sup_titulo" class="cnt_sup_titulo">
                <p>título</p>
            </div>
        </div>
        <div id="cuerpo_pry" class="cuerpo_pry">

        </div>
    </div>
    <div id="trj_pry_br" class="trj_pry_br">
        <a  href="">
            <i class="material-icons">description</i>
            <span>Ver</span>
        </a>
        <a  href="">
            <i class="material-icons">edit</i>
            <span>Editar</span>
        </a>
        <a   href="">
            <i class="material-icons">add</i>
            <span>Agregar</span>
        </a>
        <a  href="">
            <i class="material-icons">delete</i>
            <span>Eliminar</span>
        </a>
    </div>
</div>

{% endblock trj_pry %}