{% load static %}
{% block autent_pn_der %}

{% if user.is_authenticated %}
<div id="trj_pers" class="trj_pers">
    <div id="trj_pers_cnt" class="trj_pers_cnt">
        <div class="trj_pers_cnt_ppal">
            <div id="cnt_img" class="cnt_img">
                <img class="img" src="{% static 'img/person.svg' %}" alt="Imagen personal">
                <span class="base_img"> Bienvenido(a) {{user.username}} </span>
            </div>
            <div id="cnt_trj" class="cnt_trj">
                <div id="cnt_trj_titulo" class="cnt_trj_titulo">
                    <a href="{% url 'infopers' %}"> Perfil</a>
                </div>
                <div id="cnt_trj_txt" class="cnt_trj_txt">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio doloribus, tempora maxime enim rem
                        est quia nihil sed repellat necessitatibus? Ipsam nemo obcaecati quia magnam placeat voluptate facere
                        tempore delectus?
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus beatae corrupti, quam error 
                        recusandae perferendis ipsum excepturi, nulla amet delectus sit blanditiis. 
                        Ratione eligendi, dolore labore harum aperiam fugiat eius?
                    </p>
                </div>
                <div class="cnt_trj_pie">
                    <a href="">pie cnt_trj</a>
                </div>
            </div>
        </div>
        <div id="trj_pers_cnt_pie" class="trj_pers_cnt_pie">
            <a class="btn_rdn" href="">
                <i class="material-icons" alt="info">info</i>
                <span>info</span> 
            </a>
            <a class="btn_rdn" href="">
                <i class="material-icons" alt="info">info</i>
                <span>info</span> 
            </a>
            <a class="btn_rdn" href="">
                <i class="material-icons" alt="info">info</i>
                <span>info</span>
            </a>
        </div>        
    </div>
    <div class="br_trj">
        <ul>
            <li>
                <a href="">
                    <i class="material-icons">edit</i>
                    <span>Editar</span>
                </a>
            </li>
            <li>
                <a href="">
                    <i class="material-icons">image_search</i>
                    <span>Cargar Imagen</span>
                </a>
            </li>
            <li>
                <a href="{% url 'mis_inst' %}">
                    <i class="material-icons">corporate_fare</i>
                    <span>Institución</span>
                </a>
            </li>
            <li>
                <a href="{% url 'crearinf' %}">
                    <i class="material-icons">new_label</i>
                    <span>Agregar inf. Perfil</span>
                </a>
            </li>
        </ul>
    </div>
</div>
{% else %}

<div id="trj_pers" class="trj_pers">
    <div id="trj_pers_cnt" class="trj_pers_cnt">
        <div class="trj_pers_cnt_ppal">
            <div id="cnt_img" class="cnt_img">
                <img class="img" src="{% static 'img/person.svg' %}" alt="Imagen personal">
                <span class="base_img"> Usuario sin ingresar </span>
            </div>
            <div id="cnt_trj" class="cnt_trj">
                <div id="cnt_trj_titulo" class="cnt_trj_titulo">
                    <a href="{% url 'infopers' %}"> Perfil</a>
                </div>
                <div id="cnt_trj_txt" class="cnt_trj_txt">
                    <p>
                    </p>
                </div>
                <div class="cnt_trj_pie">
                    <a href="">pie cnt_trj</a>
                </div>
            </div>
        </div>
        <div id="trj_pers_cnt_pie" class="trj_pers_cnt_pie">
            <a class="btn_rdn" href="">
                <i class="material-icons" alt="info">info</i>
                <span>info</span> 
            </a>
            <a class="btn_rdn" href="">
                <i class="material-icons" alt="info">info</i>
                <span>info</span> 
            </a>
            <a class="btn_rdn" href="">
                <i class="material-icons" alt="info">info</i>
                <span>info</span>
            </a>
        </div>        
    </div>
    <div class="br_trj">
        <ul>
            <li>
                <a class="btn_" href="{% url 'ingreso' %}">
                    <i class="material-icons">login</i>
                    <span>Ingresar</span> 
                </a>
            </li>
            <li>
                <a class="btn_prm_cl" href="{% url 'registro' %}">
                    <i class="material-icons">image_search</i>
                    <span>Registrarse</span>
                </a>
            </li>
        </ul>
    </div>
</div>
{% endif %}

{% endblock autent_pn_der %}