<!--- Plantilla para la vista del desarrollo de producto - plantillas para SIGEPI
#Autor: Daniel Alejandro Ballesteros Algarra
# Coautor(a):  Milton O. Castro Ch.
#fecha 28 -10 -2022 --->


{% extends 'app_regdes_iu.html' %} 
{% load static %}
{% block meta_app %}{% endblock meta_app%}
{% block meta_panel_ppal %}{% endblock meta_panel_ppal%}
{% block meta_pie_app%}{% endblock meta_pie_app%}
{% block consulta %}
{% block articulo %}


<div>
    <p>
        Tus productos
        <form method="POST" action="{% url 'buscar_prd' %}">
            {% csrf_token %}
            <input type="search" placeholder="Buscar Producto" name="buscar">
            <button type="submit">
                Buscar
            </button>
        </form>
    </p>
</div>

{% if form.errors %}
    <p>No se ha podido realizar la consulta en este momento, porfavor intentelo mas tarde.</p>
{% endif %}

<!--Listado de productos segun usuarios-->

    <table>

        <thead>

            <tr>

                <th>#</th>  

                <th> Nombre </th> 

            </tr>

        </thead>

        <tbody>

            {% for m2m_user in object_list %}

                {% if m2m_user.producto_id.archivo %}

                <tr>

                </tr>

                {% else %}

                <tr>

                    <td>

                        {{ m2m_user.producto_id.id_prd}} 

                    </td> 

                    <td>

                        <a href= ""> 

                            {{ m2m_user.producto_id.nom_prd}} 

                        </a> 

                    </td>

                    <td>
                        {% if m2m_user.producto_id.id_prd %}

                        <a href="{%url 'consultar_etp' m2m_user.producto_id.id_prd %}">

                            <button type="submit" name="Editar" >

                                Consultar desarrollo

                            </button>
                        </a>

                        {%else %}

                        <a href="{%url 'registrar_etp' m2m_user.producto_id.id_prd %}">

                            <button type="submit" name="Editar" >

                                editar etapa de produccion

                            </button>

                        </a>

                        {%endif%}
                    </td> 

                </tr>

                {% endif %}

            {% endfor %}

        </tbody>

    </table>


{% endblock articulo %}
{% endblock consulta %}


{% block script_app%}{% endblock script_app%}
{% block script_menu_app%}{% endblock script_menu_app%}
{% block script_pie_app%}{% endblock script_pie_app%}