{% extends 'index_adm.html' %}
{% block titulo %} Formulario de registro nuevo usuario {% endblock titulo %}
{% block cuerpo %}
{% if form.errors %}
    <p>El usuario no se ha creado correctamente. Por favor, inténtalo de nuevo.</p>
{% endif %}
<div class="container-fluid mt-3"">
    <h3>Registrar Nuevo Usuario</h3>
    <form method="post" class="">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="input-group mb-3">
                    <span class="input-group-text">Nombre de Usuario</span>
                    <input type="text" class="form-control" name="form.username">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="input-group mb-3">
                    <span class="input-group-text">Nombre</span>
                    <input type="text" class="form-control" name="form.first_name>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="input-group mb-3">
                    <span class="input-group-text">Apellido</span>
                    <input type="text" class="form-control" name="form.last_name>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="input-group mb-3">
                    <span class="input-group-text">Correo</span>
                    <input type="email" class="form-control" name="form.email>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="input-group mb-3">
                    <span class="input-group-text">Contraseña</span>
                    <input type="password" class="form-control" name="form.password">
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Registrar</button>
    </form>
</div>
{% endblock cuerpo %}