{% extends 'moduloAdm/base_adm.html' %}
  {% block cuerpo %}
    <h1> listado Roles</h1>
    <table border="2">
        <thead>
          <tr>

            <th>titulo</th>
            <th>descripcion</th>
            <th>opcion</th>
          </tr>
        </thead>
      <tbody>
        {% for rl_usu_inf_apps_rol in rolesusu %}
        <tr>
          <td>{{ rl_usu_inf_apps_rol.id_usu }}</td>
          <td>{{ rl_usu_inf_apps_rol.rol_act }}</td>
          <td><a href=""> elegir </a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endblock cuerpo %}
  </body>
</html>
