<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block titulo %} listado de roles {% endblock titulo %}</title>
  </head>
  <body>
    {% block cuerpo %}
    <h1> listado modulos</h1>
    <table border="2">
        <thead>
          <tr>
            <th>id</th>
            <th>titulo</th>
            <th>descripcion</th>
            <th>opcion</th>
          </tr>
        </thead>
      <tbody>
        {% for mod in  object_list %}
        <tr>
          <td>{{ mod.id_mod }}</td>
          <td>{{ mod.titulo }}</td>
          <td>{{ mod.desc }}</td>
          <td><a href="{% url 'editarmod' mod.id_mod %}"> Editar </a> <a href="{% url 'eliminarmod' mod.id_mod %} "> Eliminar </a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% endblock cuerpo %}
  </body>
</html>
