@charset "UTF-8";
/* Autor: Milton Castro */
/* Fecha:21-05-2022 */
/* última actualización:25-05-2022 */
/* Variables del diseño */
:root {
  /* colores */
  --color-primario:#00336a;
  --color-primario-1:#004f9f;
  --color-primario-2:#008FE3;
  --color-primario-tr:#cee7ffda;
  --color-primario-oscuro:#000B3B;
  --color-secundario:#004732;
  --color-secundario-1:#00691a;
  --color-secundario-2:#009926;
  --color-secundario-tr:#d9ffe23b;
  --color-secundario-oscuro:#003b14;
  --color-terciario:#490000;
  --color-terciario-1:#800000;
  --color-terciario-2:#d60000;
  --color-terciario-tr:#80000044;
  --color-terciario-oscuro:#300000;
  --color-grises:#474747;
  --color-grises-1:#6e6e6e;
  --color-grises-2:#a1a1a1;
  --color-grises-tr:#bebebe3b;
  --color-grises-oscuro:#202020;
  --color-azul:#00336a;
  --color-amarillo:#ffe000;
  --color-naranja:#fdc300;
  --color-verde:#13a538;
  --color-vinotinto:#800000;
  --color-blanco:#ffffff;
  --color-gris:#606060;
  --color-azul-rey:#00608F;
  --color-naranja-1:#E09F2F;
  --color-exitoso:#00E8FF;
  --color-info:#34C38F;
  --color-cuidado:#ffadad;
  --color-peligro:#b30000;
  --color-luminoso:#FBF6C8;
  /* Tamaños de pantalla */
  --ancho-xs: min-max(0px,480px);
  --alto-xs: min-max(0px,360px);
  --ancho-sm: min-max(481px,640px);
  --alto-sm: min-max(361px,480px);
  --ancho-md: min-max(641px,800px);
  --alto-md: min-max(481px, 600px);
  --ancho-lg: min-max(801px,1024px);
  --alto-lg: min-max(601px,768px);
  --ancho-xl: min-max(1021px,1920px);
  --alto-xl: min-max(769px, 1080px);
  --ancho-xxl: min(1921px);
  --alto-xxl: min(1081px);
  /* fuentes */
  --fam-fuentes-contenido: "Helvetica Neue", Arial;
  --fam-fuentes-codigo: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --fam-fuentes-titulos: sans-serif,"Times New Roman", "Impact","Verdana";
  --fam-fuentes-btn:serif;
}

/* efectos para componentes */
/* mover en horizontal e invisivilizar */
.trasl_hrz_der, .br_app .categ_br_herr {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  transition: all 0.5s ease;
}

/* mover en horizontal y visivilizar */
.trasl_hrz_izq, .br_app ul li:hover > .categ_br_herr {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  transition: all 0.5s ease;
}

/* traslado vertical e invisibilizar */
.trasl_vrt {
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  transition: all 0.5s ease;
}

/* traslado vertical y visibilizar */
.trasl_vrt {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  transition: all 0.5s ease;
}

/* enmarcar en un círculo */
.circulo, .trj_pers_cnt_ppal .cnt_img .img {
  border-radius: 50%;
  border: 1px solid var(--color-primario);
}

.circulo_adm {
  border: 1px solid var(--color-secundario);
}

/* sigepi.css: Funciones del diseño  */
/* sigepi.css: Marcadores del diseño */
/* sigepi.css: Elementos comunes que se heredan y pueden tener algunas variaciones */
/* fondo simple */
/* fondo degradado vertical */
/* fondo degradado horizontal */
/* Tamaño de igual ancho y alto */
/* sigepi.css: formato para las etiquetas html del diseño */
/* formato para la etiqueta <body> */
.cuerpo {
  position: fixed;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 55px auto 65px;
      grid-template-rows: 55px auto 65px;
  width: 100%;
  height: 100%;
  background-color: var(--color-primario-tr);
  color: var(--color-primario);
  font-family: var(--fam-fuentes-contenido);
  font-size: .9rem;
  margin: 0;
  overflow: auto;
}

/* sigepi.css: encabezados (headers) */
.cabecera {
  display: inline;
  width: 100%;
}

/* Establecer las condiciones iniciale sy de normalización de los componenete y elementos */
/* características generales de cada caja */
*, *::after, *::before {
  box-sizing: border-box;
}

/* Fuentes y tipografías aplicadas en el diseño */
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -moz-font-feature-settings: 'liga';
  -moz-osx-font-smoothing: grayscale;
  /* This is needed for some mobile phones to display the Google Icon font properly */
  text-rendering: optimizeLegibility;
  -webkit-font-feature-settings: 'liga';
  font-feature-settings: 'liga';
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 200;
  src: url(../fuentes/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2);
}

/* sigepi.css: Acordeones del diseño */
/* sigepi.css: Barras, barras de estado, barras de progreso y menús de navegación verticales */
.brr, .br_pn_der, .br_herr, .br_app, .br_app_adm {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  font-family: --fam-fuentes-titulos;
  font-size: medium;
  font-weight: bold;
  text-align: center;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
}

.br_pn_der {
  /* Barra del encabezado panel derecho */
  height: 55px;
  flex-wrap: nowrap;
  gap: 10px;
}

.br_herr {
  /* barra de herramientas */
  background-color: var(--color-primario);
  top: 0;
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
  visibility: visible;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.br_herr .enc_br_herr {
  /* encabezado barra de herramientas */
  background: linear-gradient(0deg, var(--color-primario-2), var(--color-primario));
  width: 100%;
  height: 65px;
  display: block;
  padding: 5px 5px;
  color: var(--color-blanco);
}

.br_herr .enc_br_herr_adm {
  background: linear-gradient(0deg, var(--color-secundario), var(--color-secundario-1));
}

.br_herr_adm {
  background-color: var(--color-secundario);
}

.br_app {
  background-color: var(--color-primario);
  height: 100%;
  overflow: auto;
  z-index: 9;
}

.br_app ul {
  list-style: none;
  color: var(--color-primario);
  font-weight: bolder;
  display: block;
  padding: 0;
  margin: 0;
}

.br_app ul li {
  margin-left: 0;
  padding-left: 0;
  display: inline-block;
  vertical-align: middle;
  width: 100%;
}

.br_app ul li a {
  color: rgba(255, 255, 255, 0.9);
  font-size: 0.75em;
  padding: 1.05em	1em;
  position: relative;
  display: block;
  text-decoration: none;
}

.br_app ul li a:hover {
  color: var(--color-primario-2);
}

.br_app ul li i {
  font-size: 3em;
  padding-right: 0.5em;
  width: 100%;
  /* display: inline;
                vertical-align: middle; */
}

.br_app ul li:hover > .categ_br_herr {
  background-color: var(--color-primario);
}

.br_app > ul > li > a:after {
  content: '>';
  font-family: 'Courier New', Courier, monospace;
  font-size: 0.5em;
  width: 10px;
  color: #fff;
  position: absolute;
  right: 0.75em;
  top: 45%;
}

.br_app .categ_br_herr {
  position: absolute;
  background-color: var(--color-primario);
  z-index: 9;
  left: 3.7em;
  top: 0;
  height: 100vh;
}

.br_app .categ_br_herr a:hover {
  background-color: var(--color-primario-oscuro);
  color: var(--color-primario-2);
  transition: all 0.3s ease;
}

.br_app .categ_br_herr_adm {
  background-color: var(--color-secundario);
}

.br_app .categ_br_herr_adm a:hover {
  background-color: var(--color-secundario-oscuro);
  color: var(--color-secundario-2);
}

.br_app_adm {
  background-color: var(--color-secundario);
}

.br_app_adm ul {
  color: var(--color-secundario);
}

.br_app_adm ul li a:hover {
  color: var(--color-secundario-2);
}

.br_trj, .trj_pers_br {
  display: flex;
  background-color: rgba(138, 218, 255, 0.185);
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5px;
  height: 100%;
  width: 100%;
}

.br_trj ul, .trj_pers_br ul {
  list-style: none;
  font-weight: bolder;
  padding: 0px;
}

.br_trj ul li, .trj_pers_br ul li {
  list-style: none;
  /* top:5px; */
  margin: 3px;
  padding-top: 0px;
}

.br_trj ul li a, .trj_pers_br ul li a {
  display: block;
  position: relative;
  width: 100%;
  list-style: none;
  vertical-align: middle;
  text-decoration: none;
  font-size: smaller;
}

.nav_der {
  display: flex;
  flex-direction: column;
}

.nav_der_titulo {
  display: flex;
  float: right;
  color: var(--color-blanco);
  font-size: 24px;
  padding-top: 8px;
  padding-right: 5px;
}

.nav_der ul {
  list-style: none;
  list-style-position: outside;
  padding: 0px;
}

.nav_der ul li {
  list-style: none;
  list-style-position: outside;
  padding: 5px;
}

.nav_der ul li:hover {
  padding: 0px;
}

.nav_der ul .logotipo {
  display: flex;
  position: static;
  float: right;
  color: var(--color-blanco);
  font-size: 2.1rem;
  padding: 0px;
  margin-top: 0px;
  right: 0;
}

.nav_der ul .logotipo a img {
  position: relative;
  height: 50px;
  color: var(--color-blanco);
  font-size: 30px;
  padding: 2px;
  text-decoration: none;
}

/* sigepi.css: Botones del diseño*/
.btn, .btn_prm_cl, .br_trj ul li a, .trj_pers_br ul li a, .btn_sec_cl {
  position: relative;
  width: 45px;
  height: 45px;
  text-align: center;
  margin: auto;
  border-radius: 5px;
  text-decoration: none;
  box-sizing: content-box;
  align-items: center;
  align-content: center;
}

.btn_pie, .cnt_pie .item {
  background: linear-gradient(0deg, var(--color-primario-1), var(--color-primario));
  width: 100%;
  height: 100%;
  position: relative;
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 2%;
  padding: 0px;
  color: var(--color-primario-2);
  -webkit-transform: translate(0%, 0%);
          transform: translate(0%, 0%);
  box-shadow: 0 5px 5px rgba(0, 17, 54, 0.267);
  text-decoration: none;
  transition: 0.3s;
  text-align: center;
}

/* boton primario claro (azul) */
.btn_prm_cl, .br_trj ul li a, .trj_pers_br ul li a {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  box-shadow: 2px 2px 5px var(--color-primario);
  background: linear-gradient(0deg, var(--color-blanco), var(--color-primario-tr));
  transition: 0.3s;
  text-decoration: none;
  text-align: center;
  text-underline-position: below;
}

.btn_prm_cl:hover, .br_trj ul li a:hover, .trj_pers_br ul li a:hover {
  border-left: 1px solid var(--color-primario-tr);
  background: linear-gradient(0deg, var(--color-primario-tr), var(--color-blanco));
  box-shadow: 0px 2px 2px rgba(241, 245, 255, 0.514);
  -webkit-transform: translate(0%, -3%);
          transform: translate(0%, -3%);
}

.btn_prm_cl:hover i, .br_trj ul li a:hover i, .trj_pers_br ul li a:hover i {
  font-size: 30px;
  color: var(--color-primario-1);
  transition: 0.5s;
}

.btn_prm_cl:hover span, .br_trj ul li a:hover span, .trj_pers_br ul li a:hover span {
  display: flex;
  position: relative;
  color: var(--color-primario-1);
  font-size: smaller;
  top: -5px;
}

.btn_prm_cl i, .br_trj ul li a i, .trj_pers_br ul li a i {
  font-size: 40px;
  color: var(--color-primario);
  transition: 0.5s;
  -ms-grid-row-align: center;
      align-self: center;
  margin-left: auto;
  margin-right: auto;
}

.btn_prm_cl span, .br_trj ul li a span, .trj_pers_br ul li a span {
  display: none;
}

.btn_prm_cl .deshab, .br_trj ul li a .deshab, .trj_pers_br ul li a .deshab {
  border-left: 1px solid var(--color-gris);
  background: linear-gradient(0deg, var(--color-primario-tr), var(--color-gris));
  box-shadow: 0 2px 2px rgba(95, 95, 95, 0.15);
  -webkit-transform: translate(0%, -3%);
          transform: translate(0%, -3%);
  font-size: 30px;
  color: var(--gris);
  transition: 0.5s;
  padding: auto;
}

/* boton secundario claro (verde) */
.btn_sec_cl {
  background-color: var(--color-blanco);
  box-shadow: 0 2px 2px rgba(0, 54, 33, 0.267);
  background: linear-gradient(0deg, var(--color-blanco), var(--color-secundario));
  transition: 0.3s;
}

.btn_sec_cl:hover {
  border-left: 1px solid var(--color-blanco);
  background: linear-gradient(0deg, var(--color-secundario-tr), var(--color-blanco));
  box-shadow: 0 2px 2px rgba(241, 245, 255, 0.514);
  -webkit-transform: translate(0%, -3%);
          transform: translate(0%, -3%);
}

.btn_sec_cl i {
  font-size: 30px;
  color: var(--color-secundario);
  transition: 0.5s;
  padding: auto;
}

.btn_sec_cl i:hover {
  font-size: 27px;
  color: var(--color-secundario-1);
  transition: 0.5s;
  padding: 2px;
}

.btn_sec_cl .deshab {
  border-left: 1px solid var(--color-gris);
  background: linear-gradient(0deg, var(--color-secundario-tr), var(--color-gris));
  box-shadow: 0 2px 2px rgba(95, 95, 95, 0.15);
  -webkit-transform: translate(0%, -3%);
          transform: translate(0%, -3%);
  font-size: 30px;
  color: var(--color-gris);
  transition: 0.5s;
  padding: auto;
}

.btn_menu, .btn_cerrar {
  display: flex;
  background-color: var(--color-primario);
  color: var(--color-blanco);
  border-radius: 2px;
  border: 0px;
  transition: 0.5s ease;
}

.btn_cerrar {
  display: none;
}

/* sigepi.css: carruseles utilizados */
/* sigepi.css: cintas, esquineros, separadores, adornos */
/* sigepi.css: menús del diseño */
.menu, .menu_app, .app .menu_app, .menu_ppal {
  position: relative;
  display: flex;
  gap: 5px;
  vertical-align: middle;
  width: 100%;
  top: 0px;
  left: 0;
  font-family: var(--fam-fuentes-titulos);
  font-size: .8rem;
}

.menu_app, .app .menu_app {
  height: 45px;
}

.menu_ppal {
  height: 55px;
}

.menu_ppal .cnt_btn_menu {
  display: flex;
  justify-items: center;
  margin-top: 10px;
  margin-left: 10px;
}

.menu_ppal .cnt_btn_menu i {
  font-size: 2rem;
}

.menu_ppal .titulo {
  color: var(--color-blanco);
  font-size: 24px;
  padding-right: 3px;
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
}

.menu_ppal .logotipo {
  right: 0;
  margin-top: 5px;
  margin-bottom: auto;
}

.menu_ppal .logotipo a {
  text-decoration: none;
}

.menu_ppal .logotipo img {
  height: 45px;
}

/* sigepi.css: pies del diseño */
.pie {
  position: fixed;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 10px 50px 12px;
      grid-template-rows: 10px 50px 12px;
  width: 100%;
  left: 0;
  bottom: 0px;
  align-items: center;
  overflow: hidden;
  background-color: var(--color-primario);
}

.pie_extra {
  display: block;
  margin-top: 0px;
  color: var(--color-primario-1);
  text-align: center;
}

.pie_ppal {
  display: block;
  height: 52px;
  color: var(--color-primario-tr);
}

.pie .der_copia {
  display: block;
  margin-top: 2px;
}

.pie .der_copia p {
  text-align: center;
  color: var(--color-primario-1);
  font-size: smaller;
  font-family: var(--fam-fuentes-titulos);
}

.pie_app {
  width: 100%;
}

/* sijepi: tarjetas del diseño */
/* tarjeta base */
.trj {
  width: min-max(120px, 450px);
  height: min/250px;
  padding: 0px;
  overflow: auto;
  margin: 3px;
}

.trj_pers {
  width: min-max(120px, 450px);
  height: min-max(150px, 250px);
  border-radius: 5px;
  background: linear-gradient(45deg, var(--color-primario-2), var(--color-primario));
  border-color: var(--color-blanco);
  border: 2px;
  box-shadow: 5px 5px 5px #07006b7c;
  -webkit-transform: translate(0%, 0px);
          transform: translate(0%, 0px);
}

.trj_pers_cnt_ppal .cnt_img .img {
  position: relative;
  width: 100%;
  height: auto;
  top: 0px;
  left: 0px;
}

.trj_pers_cnt_ppal .cnt_img .base_img {
  width: 100%;
  height: 35px;
  text-align: center;
  bottom: 0px;
  left: 0px;
}

.trj_pers_cnt_ppal .cnt_trj {
  color: var(--color-blanco);
  text-align: center;
  align-content: center;
}

.trj_pers_cnt_ppal .cnt_trj_titulo {
  background: linear-gradient(0deg, var(--color-primario), var(--color-primario-2));
  display: flex;
  font-size: medium;
  align-items: center;
}

.trj_pers_cnt_ppal .cnt_trj_txt {
  display: flex;
  width: 100%;
  height: auto;
  text-align: justify;
  align-items: center;
  word-break: break-word;
  margin-top: 5px;
  margin-bottom: auto;
  text-overflow: ellipsis;
}

.trj_pers_cnt_ppal .cnt_trj_pie {
  background-color: var(--color-primario);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: justify;
  align-items: center;
  gap: 5px;
  bottom: 0px;
}

.trj_pers_cnt_pie {
  background-color: var(--color-primario);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: justify;
  align-items: center;
  gap: 5px;
}

.trj_pers_vrt {
  /*tarjeta personal vertical*/
  background-color: --color-primario-tr;
  min-height: 150px;
  margin-bottom: 2px;
  text-align: center;
  top: 2px;
  overflow: hidden;
  border: 2px solid rgba(175, 244, 255, 0.521);
  box-shadow: 3px 3px 3px rgba(187, 246, 255, 0.521);
  border-radius: 3px;
  padding: 2px 2px 2px 2px;
}

/* Se trabajan las estructuras de comportamiento de las aplicaciones en diferentes formatos */
.app {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(50px, 350px) auto auto;
      grid-template-columns: minmax(50px, 350px) auto auto;
  width: 100%;
  height: 100%;
  overflow: auto;
}

/* tipos de diseños para el componente artículo */
.articulo {
  width: 100%;
}

/* Contenedores */
.cnt, .cnt_norm {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  border-radius: 2px;
  padding: 5px 5px 5px 5px;
}

/* contenedor normal */
.cnt_norm {
  box-shadow: 5px 5px 5px rgba(22, 22, 22, 0.25);
  background: linear-gradient(0deg, var(--color-primario-tr), var(--color-blanco));
  border-left: 1px solid rgba(0, 0, 0, 0.2);
}

/* Contenedor de artículo */
.cnt_art {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  background: linear-gradient(0deg, var(--color-primario-tr), var(--color-blanco));
  box-shadow: 5px 5px 5px rgba(0, 17, 54, 0.267);
  border-radius: 2px;
  padding: 5px 5px 5px 5px;
}

/* Contenedor panel derecho */
.cont_pn_der {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  background: linear-gradient(90deg, var(--color-primario-tr), var(--color-primario));
  box-shadow: 5px 5px 5px rgba(0, 17, 54, 0.267);
  border-radius: 2px;
  padding: 5px 5px 5px 5px;
  overflow: auto;
}

/* Contenedor de barra de herramientas */
.cnt_br {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 150px;
  height: 100%;
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  background: var(--color-primario);
  box-shadow: 5px 5px 5px rgba(0, 17, 54, 0.267);
  border-radius: 2px;
  padding: 5px 5px 5px 5px;
}

/* Contenedor del pie principal */
.cnt_pie {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 50px;
  align-items: center;
}

.cnt_pie .item {
  width: 100%;
  height: 45px;
  display: flex;
  top: 0px;
  text-underline-position: below;
}

.cnt_pie .item a {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 45px;
  font-size: smaller;
  font-family: var(--fam-fuentes-titulos);
}

.cnt_pie .item a i {
  width: 100;
  font-size: 2rem;
  margin-bottom: -5px;
}

.cnt_pie .item a:hover, .cnt_pie .item a:active {
  background: linear-gradient(0deg, var(--color-primario), var(--color-primario-1));
  color: var(--color-blanco);
  box-shadow: 0 5px 5px rgba(142, 240, 232, 0.856);
  transition: 0.3s;
  -webkit-transform: translate(0%, -5%);
          transform: translate(0%, -5%);
  border-left: 1px solid rgba(142, 240, 232, 0.856);
  border-right: 1px solid rgba(142, 240, 232, 0.856);
}

/* encabezados */
.cabecera {
  width: 100%;
  height: 55px;
  color: #fff;
  background-color: var(--color-primario);
  line-height: 40px;
}

/* Estructuras de bloques basados en grillas (grid) */
/* grilla base una columna (titulo-contenido-pie) */
.gr_col1, .trj, .trj_pers_cnt_ppal .cnt_trj {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 35px auto 35px;
      grid-template-columns: 35px auto 35px;
  width: 100%;
  height: 100%;
}

.gr_col2_iz, .trj_pers_cnt_ppal {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30% 70%;
      grid-template-columns: 30% 70%;
  width: 100%;
  height: 100%;
}

.gr_col2_der {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 70% 30%;
      grid-template-columns: 70% 30%;
  width: 100%;
  height: 100%;
}

.gr_br_der, .trj_pers {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 20%;
      grid-template-columns: auto 20%;
  width: 100%;
  height: 100%;
}

.gr_br_iz {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20% auto;
      grid-template-columns: 20% auto;
  width: 100%;
  height: 100%;
}

.gr_fila_sup, .trj_pers_cnt, .trj_pers_cnt_ppal .cnt_img {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 20%;
      grid-template-rows: auto 20%;
  width: 100%;
  height: 100%;
}

.gr_fila_inf {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 20% auto;
      grid-template-rows: 20% auto;
  width: 100%;
  height: 100%;
}

/* contenedores */
/* sigepi.css: Páneles contenedores de componenetes y secciones */
.panel_der {
  background-color: var(--color-primario);
  width: 100%;
  height: 100%;
  position: relative;
  display: none;
  flex-direction: column;
  min-width: 150px;
  max-width: 450px;
  /* border-right: 1px solid rgba(255, 255, 255, 0.438); */
  box-shadow: 5px 5px 5px rgba(34, 44, 46, 0.25);
  overflow: auto;
}

.panel_der ::-webkit-scrollbar {
  -webkit-appearance: none;
}

.panel_der ::-webkit-scrollbar :vertical {
  width: 6px;
}

.panel_der ::-webkit-scrollbar :horizontal {
  height: 10px;
}

.panel_der ::-webkit-scrollbar-button:increment, .panel_der ::-webkit-scrollbar-button {
  display: none;
}

.panel_der ::-webkit-scrollbar-thumb {
  background-color: #797979;
  border-radius: 20px;
  border: 2px solid #f1f2f3;
}

.panel_der ::-webkit-scrollbar-track {
  border-radius: 10px;
}

.panel_iz {
  width: 0px;
}

.panel_ppal {
  position: relative;
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(100px, 350px) auto minmax(0px, 150px);
      grid-template-columns: minmax(100px, 350px) auto minmax(0px, 150px);
  overflow: auto;
}

/* sigepi.css: secciones de apartes estructurales */
.seccion_pn_der {
  background-color: #ffffff6e;
  width: 100%;
  height: auto;
  min-height: 65px;
  margin-bottom: 5px;
  position: static;
  text-align: center;
  display: flex;
  top: 5px;
  overflow: auto;
  border: 2px solid rgba(240, 253, 255, 0.521);
  box-shadow: 3px 3px 3px rgba(240, 253, 255, 0.521);
  border-radius: 3px;
  padding: 2px 2px 2px 2px;
}

/* Diseño adaptativo o Responsive @media */
@media only screen and (max-width: 580px) {
  .panel_ppal {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow: auto;
  }
  .panel_der {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-right: 0px;
    max-width: 580px;
    box-shadow: 0px 0px;
  }
  .app {
    display: -ms-grid;
    display: grid;
    width: 100%;
    height: 100%;
    -ms-grid-columns: minmax(3.7em, 9em) auto auto;
        grid-template-columns: minmax(3.7em, 9em) auto auto;
    overflow: hidden;
  }
  /*   .cont_pn_der{
      position:relative;
      display:flex;
      flex-direction:column;
      width: 100%;
      height: 100%;
      min-width: 100px;
      max-width: 500px;
      border-left: 1px solid rgba(0,0,0,0.2);
      background: linear-gradient(90deg, var(--color-primario-tr), var(--color-primario));
      box-shadow: 5px 5px 5px rgba(0, 17, 54, 0.267);
      border-radius: 2px;
      padding: 5px 5px 5px 5px;
    } */
}
