/* sigepi.css: formato para las etiquetas html del diseño */

/* formato para la etiqueta <body> */
.cuerpo {
    position:absolute;
    display:grid;
    grid-template-rows: 55px auto 65px;
    width: 100%;
    height: 100%;
    background-color: var(--azul-cl);
    color:var(--azul);
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", sans-serif;
    font-size: .8rem;
    margin: 0;
    overflow: auto;
  }