{% extends 'inicio_adm.html' %}
{% block titulo %} Vista de detalle de Modulo{% endblock titulo %} 
{% block app %}
{% block cuerpo %}
{% if form.errors %}
    <p>No se ha podido consultar el modulo</p>
{% endif %}

<h2>Vista detalle de {{ object.titulo}}</h2>
<form method="POST">
    <div class="vista detalle">
        
        <label for="id_app">Identificador de la Aplicación:</label>
        <input type="text" id="id_app" disabled value="{{ object.id_mod}}"><br>

        <label for="nom">Nombre carpeta contenedora:</label>
        <input type="text" id="nom" disabled value="{{ object.nom}}"><br>

        <label for="titulo">Nombre del Aplicativo:</label>
        <input type="text" id="desc" disabled value="{{ object.titulo}}"><br>

        <label for="desc">Descripción:</label>
        <input type="text" id="desc" disabled value="{{ object.desc}}"><br>

        <label for="url_doc">Url de Documentación</label>
        <input type="text" id="url_doc" disabled value="{{ object.url_doc}}"><br>

        <label for="url_instal">Path:</label>
        <input type="text" id="url_instal" disabled value="{{ object.version}}"><br>

        <label for="url_pl">Url de plantilla:</label>
        <input type="text" id="url_pl" disabled value="{{ object.activo}}"><br>

        <label for="instalado">Esta Instalado:</label>
        <input type="text" id="instalado" disabled value="{{ object.instalado}}"><br>

        <label for="externo">Es un Modulo Externo:</label>
        <input type="text" id="externo" disabled value="{{ object.externo}}"><br>

        <label for="visible">Esta Visible:</label>
        <input type="text" id="visible" disabled value="{{ object.visible}}"><br>

        <label for="ls_param_cnf">Parametros de Configuración:</label>
        <input type="text" id="ls_param_cnf" disabled value="{{ object.ls_param_cnf}}"><br>

       
        

    </div>
</form>

{% endblock cuerpo %}
{% endblock app%}