{% extends 'inicio_adm.html' %}
{% block titulo %} Listado de grupos {% endblock titulo %}
{% block cuerpo %}
{% if form.errors %}
    <p>La lista de grupos no se ha logrado consultar.</p>
{% endif %}
<h3>Lista de Grupos</h3>

<form method="POST">
    {{form.as_ul}}

    <div>
        {% for usui in  object_list %}
        <label> {{ usui.id_gr }} </label>
        <label> {{ usui.passgr}} </label>
        <label> {{ usui.id_usu_admin}} </label>
        <label> {{ usui.id_rol_app}} </label>
        <label> {{ usui.activo}} </label><br>
            {% block modf_consl %}

            {% endblock modf_consl  %}
        {% endfor %}

</form>
{% endblock cuerpo %}
