{% extends 'inicio_adm.html' %}
{% block titulo %} Listado de Usuarios de los grupos a los que pertenece{% endblock titulo %}
{% block app %}
{% block cuerpo %}
{% block menu_app_iu %}
    {% include "menu_app_iu.html" %}
{% endblock menu_app_iu %}
{% if form.errors %}
    <p>La lista de aplicaciones de módulos no se ha podido consultar.</p>
{% endif %}

<form method="POST">

    <div class="table-responsive">
        <table class="table">
            <h2>Listado de Grupos</h2>
            <thead>
                <tr>
                    <th>#</th>
                    <th>Nombre del grupo</th>
                    <th>Sigla</th>
                    <th>Nom. Usuario</th>
                    <th>Nom. Usuario Adm</th>
                    <th>Nom. Usuario Enc.</th>
                    <th>Ver</th>
                    <th>Editar</th>
                    <th>Eliminar</th>
                </tr>
            </thead>
            {% for usugr in form %}
                <tbody>
                    <tr>
                        <td> {{ usugr.id_usugr}} </td>
                        <td> {{ usugr.nom_grup}} </td>
                        <td> {{ usugr.sigla }} </td>
                        <td> {{ usugr.id_user.username}} </td>
                        <td> {{ usugr.id_usu_adm.username}} </td>
                        <td>{{ usugr.id_usu_asig.username}} </td>
                        <!-- <td> {{ app_mod.nom}} </td> -->
                        <!-- <td> {{ app_mod.ver_mod }} </td> -->
                        <td> <a href="../cons_esp_mod/{{usugr.id_mod}}" class="btn btn-block btn-sm btn-info">Ver</a><br></td>
                        <td> <a href="../edt_mod/{{usugr.id_mod}}" class="btn btn-block btn-sm btn-info">Editar</a><br></td>
                        <td> <a href="../eli_mod/{{usugr.id_mod}}" class="btn btn-block btn-sm btn-danger">Eliminar</a><br></td> 
                        
                    </tr>
                </tbody>
            {% endfor %}
        </table> 
    </div>
</form>

{% endblock cuerpo %}
{% endblock app %}