/* Se trabajan las estructuras de comportamiento de las aplicaciones en diferentes formatos */
.app {
    display:grid;
    grid-template-columns: minmax(50px,350px) auto auto;
    width: 100%;
    height: 100%;
    overflow: auto;
    .menu_app{
        @extend .menu_app
    }
  }