/* Contenedores */
.cnt{
    position:relative;
    display:flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border-radius: 2px;
    padding: 5px 5px 5px 5px;
}

/* contenedor normal */
.cnt_norm{
    @extend .cnt;
    box-shadow: 5px 5px 5px rgba(22, 22, 22, 0.25);
    background: linear-gradient(0deg,var(--color-primario-tr),var(--color-blanco));
    border-left: 1px solid rgba(0,0,0,0.2);
}

/* Contenedor de artículo */
.cnt_art{
    position:relative;
    display:flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border-left: 1px solid rgba(0,0,0,0.2);
    background: linear-gradient(0deg,var(--color-primario-tr),var(--color-blanco));
    box-shadow: 5px 5px 5px rgba(0, 17, 54, 0.267);
    border-radius: 2px;
    padding: 5px 5px 5px 5px;
}
  
  /* Contenedor panel derecho */
.cont_pn_der{
    position:relative;
    display:flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border-left: 1px solid rgba(0,0,0,0.2);
    background: linear-gradient( 90deg,var(--color-primario-tr),var(--color-primario));
    box-shadow: 5px 5px 5px rgba(0, 17, 54, 0.267);
    border-radius: 2px;
    padding: 5px 5px 5px 5px;
    overflow: auto;
}

  /* Contenedor de barra de herramientas */
.cnt_br{
    position:relative;
    display:flex;
    flex-direction: column;
    width: 150px;
    height: 100%;
    border-left: 1px solid rgba(0,0,0,0.2);
    background:var(--color-primario);
    box-shadow: 5px 5px 5px rgba(0, 17, 54, 0.267);
    border-radius: 2px;
    padding: 5px 5px 5px 5px;
}
/* Contenedor del pie principal */
.cnt_pie{
    display:flex;
    flex-direction: row;
    width: 100%;
    height: 50px;
    align-items: center;
    .item {
        width: 100%;
        height: 45px;
        display:flex;
        top:0px;
        @extend .btn_pie;
        text-underline-position: below;
        a{
            display:flex;
            flex-direction: column;
            width: 100%;
            height: 45px;
            font-size: smaller;
            font-family: var(--fam-fuentes-titulos);
            i{
                width: 100;
                font-size: 2rem;
                margin-bottom: -5px;
            }

            &:hover,&:active {
                background: linear-gradient(0deg,var(--color-primario), var(--color-primario-1));
                color:var(--color-blanco);
                box-shadow: 0 5px 5px rgba(142, 240, 232, 0.856);
                transition: 0.3s;
                transform: translate(0%,-5%);
                border-left: 1px solid rgba(142, 240, 232, 0.856);
                border-right: 1px solid rgba(142, 240, 232, 0.856);
            }
        }
    }
}

