/* Estructuras de bloques basados en grillas (grid) */

/* grilla base una columna (titulo-contenido-pie) */
.gr_col1{
    position:sticky;
    display: grid;
    grid-template-rows: minmax(25px,1fr) 8fr minmax(25px,1fr);
    width: 100%;
    height: 100%;
}

.gr_col2{
    position:sticky;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    height: 100%;
}
.gr_col2_iz{
    position:sticky;
    display: grid;
    grid-template-columns: 1fr 3fr;
    width: 100%;
    height: 100%;
}
.gr_col2_der{
    position:sticky;
    display: grid;
    grid-template-columns: 3fr 1fr;
    width: 100%;
    height: 100%;
}
.gr_br_der{
    position:sticky;
    display: grid;
    grid-template-columns: 4fr 1fr;
    width: 100%;
    height: 100%;
}
.gr_br_iz{
    position: sticky;
    display: grid;
    grid-template-columns: 1fr 4fr;
    width: 100%;
    height: 100%;
}

.gr_fila_sup{
    position: sticky;
    display: grid;
    grid-template-rows: 6fr 1fr;
    width: 100%;
    height: 100%;
}

.gr_fila_inf{
    position: sticky;
    display: grid;
    grid-template-rows: 1fr 4fr;
    width: 100%;
    height: 100%;
}