/* Diseño adaptativo o Responsive @media */
$ancho-xs:480px;
$alto-xs: 360px;
$ancho-sm: 640px;
$alto-sm: 480px;
$ancho-md: 800px;
$alto-md:  600px;
$ancho-lg: 1024px;
$alto-lg: 768px;
$ancho-xl: 1920px;
$alto-xl: 1080px;
$ancho-xxl:1921px;
$alto-xxl:1081px;

@media only screen and (max-width:$ancho-xs){
    .panel_ppal {
      @include extruc_gr_pn($num_col:1,$num_filas:1,$tam_fr1:1fr,$tam_fr2:0,$tam_fr3:0);
      justify-content:space-between;
      overflow: auto;
    }
    .panel_der {
      @include extruc_gr_pn($num_col:1,$num_filas:1,$tam_fr1:1fr,$tam_fr2:0,$tam_fr3:0);
      /* border-right: 0px; */
      box-shadow: 0px 0px;
      }
    .panel_app{
        @include extruc_gr_pn($num_col:2,$num_filas:1,$tam_fr1:7.5rem,$tam_fr2:10fr,$tam_fr3:0);
        flex-direction: row;
        flex-wrap: wrap;
        overflow: auto;
    }
    .br_herr{
      @include extruc_gr_pn($num_col:1,$num_filas:1,$tam_fr1:1fr,$tam_fr2:0fr,$tam_fr3:0fr);
      flex-wrap: wrap;
      flex-direction: row;
      width:7.5rem;
    }
    .br_app{
      width: 7.5rem;
      ul{
        li{
          a{
            text-underline-position: below;
            span{
              display: none;
            }
            &:hover{
              span{
                display: flex;
                translate: translateY(-5px);
              }
            }
          }
        }
      }
    }  
    .app {
      @include extruc_gr_pn($num_col:1,$num_filas:3,$tam_fr1:1fr,$tam_fr2:8fr,$tam_fr3:1fr);
      overflow:auto;
    }

  /*   .cont_pn_der{
      position:relative;
      display:flex;
      flex-direction:column;
      width: 100%;
      height: 100%;
      min-width: 100px;
      max-width: 500px;
      border-left: 1px solid rgba(0,0,0,0.2);
      background: linear-gradient(90deg, var(--color-primario-tr), var(--color-primario));
      box-shadow: 5px 5px 5px rgba(0, 17, 54, 0.267);
      border-radius: 2px;
      padding: 5px 5px 5px 5px;
    } */
}

@media only screen and (min-width:$ancho-xs) and (max-width: $ancho-lg){
/* extruc_gr_pn($num_col:1,$num_filas:1,$tam_fr1:1,$tam_fr2:0,$tam_fr3:0) */
  .panel_ppal {
    @include extruc_gr_pn($num_col:2,$num_filas:1,$tam_fr1:1fr,$tam_fr2:1fr,$tam_fr3:0fr);
    flex-direction: column;
    overflow: auto;
  }
  .panel_der {
    @include extruc_gr_pn($num_col:1,$num_filas:1,$tam_fr1:1fr,$tam_fr2:0fr,$tam_fr3:0fr);
    flex-wrap:wrap;
    border-right: 0px;
    box-shadow: 5px 5px var(--color-primario-oscuro);
    width: minmax(150px,350px);
    }
  .panel_app{
    @include extruc_gr_pn($num_col:2,$num_filas:1,$tam_fr1:7.5rem,$tam_fr2:4fr,$tam_fr3:0fr);
    overflow: auto;
  }
  .br_herr{
    @include extruc_gr_pn($num_col:1,$num_filas:1,$tam_fr1:1fr,$tam_fr2:0fr,$tam_fr3:0fr);
    flex-wrap: wrap;
    flex-direction: row;
    width:7.5rem;
  }
  .br_app{
    width: 7.5rem;
    ul{
      li{
        a{
          text-underline-position: below;
          span{
            display: none;
          }
          &:hover{
            span{
              display: flex;
              translate: translateY(-5px);
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width:$ancho-md) and (max-width: $ancho-sm){
  .panel_ppal {
    @include extruc_gr_pn($num_col:2,$num_filas:1,$tam_fr1:4fr,$tam_fr2:4fr,$tam_fr3:0);
    justify-content:space-between;
    overflow: auto;
  }
  .panel_der {
    @include extruc_gr_pn($num_col:1,$num_filas:1,$tam_fr1:1fr,$tam_fr2:0,$tam_fr3:0);
    flex-wrap:wrap;
    border-right: 0px;
    box-shadow: 5px 5px var(--color-primario-oscuro);
    }
  .panel_app{
    @include extruc_gr_pn($num_col:2,$num_filas:1,$tam_fr1:2fr,$tam_fr2:4fr,$tam_fr3:0);
    overflow: auto;
  }
}

@media only screen and (max-width:$ancho-lg){
  
}

@media only screen and (max-width:$ancho-xl){
  
}

@media only screen and (max-width:$ancho-xl){
  
}