/* sigepi.css: secciones de apartes estructurales */

.seccion_pn_der{
    background-color:#ffffff6e;
    width: 100%;
    height: auto;
    margin-bottom: 5px;
    position: relative;
    text-align: center;
    display: flex;
    top: 5px;
    overflow:hidden;
    border: 2px solid rgba(240, 253, 255, 0.521);
    box-shadow: 3px 3px 3px rgba(240, 253, 255, 0.521);
    border-radius:3px;
    padding: 2px 2px 2px 2px;  
  }