
<!-- Variables de estilos y clases
{{estilo_cuerpo}}
{{clase_cuerpo}}
{{estilo_cabecera}}
{{clase_cabecera}}
{{estilo_app}}
{{clase_app}}
{{estilo_menu_ppal}}
{{clase_menu_ppal}}
{{estilo_panel_der}}
{{clase_panel_der}}
{{estilo_panel_ppal}}
{{clase_panel_ppal}}
{{estilo_articulo}}
{{clase_articulo}}
{{estilo_panel_iz}}
{{clase_panel_iz}}
{{estilo_pie_app}}
{{clase_pie_app}}
{{estilo_pie}}
{{clase_pie_app}}
{{estilo_pie_app}}
{{clase_pie_extra}}
-->

<!-- metadatos del documento (head)

{% block meta_index %}{% endblock meta_index%}
{% block meta_cuerpo %}{% endblock meta_cuerpo%}
{% block meta_cabecera %}{% endblock meta_cabecera%}
{% block meta_menu_ppal %}{% endblock meta_menu_ppal%}
{% block meta_app %}{% endblock meta_app%}
{% block meta_panel_der %}{% endblock meta_panel_der%}
{% block meta_panel_ppal %}{% endblock meta_panel_ppal%}
{% block meta_panel_iz %}{% endblock meta_panel_iz%}
{% block meta_pie_app%}{% endblock meta_pie_app%}
{% block meta_pie_extra%}{% endblock meta_pie_extra%}
{% block meta_pie%}{% endblock meta_pie%}
-->

<!-- título de la página
{% block titulo %}{% endblock titulo%}
-->


<!-- Cabecera
{% block cabecera %}

{% endblock cabecera %}

{% block menu_ppal %}
{% endblock menu_ppal %}

-->
<!-- bloques de Aplicación
{% block menu_app %}
{% endblock menu_app %}
{% block panel_der %}
{% endblock panel_der %}
{% block panel_ppal %}
    {% block articulo %}
    {% endblock articulo %}
{% endblock panel_ppal %}
{% block panel_iz %}
{% endblock panel_iz %}
{% block pie_app%}
{% endblock pie_app %}
-->

<!-- Scripts del cuerpo del documento (Body)
{% block script_meta%}{% endblock script_meta%}
{% block script_cuerpo%}{% endblock script_cuerpo %}
{% block script_cabecera%}{% endblock script_cabecera%}
{% block script_app%}{% endblock script_app%}
{% block script_menu_app%}{% endblock script_menu_app%}
{% block script_panel_der%}{% endblock script_panel_der%}
{% block script_panel_ppal%}{% endblock script_panel_ppal%}
{% block script_panel_iz %}{% endblock script_panel_iz %}
{% block script_pie_app%}{% endblock script_pie_app%}
{% block script_pie_extra%}{% endblock script_pie_extra%}
{% block script_pie%}{% endblock script_pie%}
-->
<!-- Bloques del pie del documento
{% block pie_extra%}
{% endblock pie_extra%}
{% block pie %}
{% endblock pie%}
-->
