{% extends 'inicio_adm.html' %}
{% block titulo %} Discapacidad {% endblock titulo %}
{% block app %}
    {% if form.errors %}
        <p>La Discapacidad no se ha creado correctamente. Por favor, inténtalo de nuevo.</p>
    {% endif %}
    <h3>Registrar Nueva Discapacidad</h3>

    <form method="POST">
        {% csrf_token %}

        <label for="discap">Seleccione Discapacidad</label>
        <select name="discap" id="discap">
            {% for discapacidad in disc %}
                <option value selected>{{discapacidad.nom_disc}}</option>
            {% endfor %}
        </select>

        <br>
        <input class="btn btn-primary" type="submit" value="Registrar">
    </form>
{% endblock app %}
