{% extends 'inicio_adm.html' %}

{% block titulo %}
  Listado de usuarios 
{% endblock titulo %}

{% block cuerpo %}
  <h1> Listado usuarios</h1>
  <table border="2">
    <thead>
      <tr>
        <th>ID</th>
        <th>Tipo de identificación</th>
        <th>Número de identificación</th>
        <th>Nombres</th>
        <th>Apellidos</th>
        <th>Correo</th>
        <th>Teléfono</th>
        <th>Nacionalidad</th>
        <th>Fecha nacimiento</th>
        <th>Ocupación</th>
        <th>Género</th>
      </tr>
    </thead>
    <tbody>
      {% for usu_inf_pers in  object_list %}
        <tr>
          <td>{{ usu_inf_pers.id_usu }}</td>
          <td>{{ usu_inf_pers.tipo_nuip }}</td>
          <td>{{ usu_inf_pers.nuip }}</td>
          <td>{{ usu_inf_pers.nombres }}</td>
          <td>{{ usu_inf_pers.apelllidos }}</td>
          <td>{{ usu_inf_pers.mail }}</td>
          <td>{{ usu_inf_pers.telefono }}</td>
          <td>{{ usu_inf_pers.nal }}</td>
          <td>{{ usu_inf_pers.fch_naci }}</td>
          <td>{{ usu_inf_pers.ocup }}</td>
          <td>{{ usu_inf_pers.gene }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock cuerpo %}
