<!--- Plantilla para la vista de los detalles de plantillas de productos - plantillas para SIGEPI
#Autor: Daniel Alejandro Ballesteros Algarra
# Coautor(a):  Milton O. Castro Ch.
#fecha 25 -08 -2022 --->

{% extends 'app_regplt_iu.html' %} 
{% load static %}
{% block meta_app %}{% endblock meta_app%}
{% block meta_panel_ppal %}{% endblock meta_panel_ppal%}
{% block meta_pie_app%}{% endblock meta_pie_app%}
{% block consulta %}
{% block articulo %}

<div>
    <p>Consulta de plantillas </p>
</div>

{% if form.errors %}
    <p>No se ha podido realizar la consulta en este momento, porfavor intentelo mas tarde.</p>
{% endif %}

<!--CONSULTAR PLANTILLAS-->


    <table>
        <!-- Tabla que contiene el formulario de una plantilla de producto-->
        <thead>
            <tr>

                <th>#</th>  
                <th>Nombre de la plantilla</th>  
                <th>Descripcion</th> 
                <th>Campos que utiliza</th> 

            </tr>
        </thead>
        <tbody>

                <tr>

                    <td> {{ object.id_plt_desc}} </td> 
                    <td> {{ object.nom_plt}} </td> 
                    <td>  {{ object.desc_plt}} </td> 
                    <td>  

                    {% for m2m_campo in object_list %}

                    {{ m2m_campo.campo_id.nom_campo}}
                    <br>
                    
                    </td> 

                    {% endfor %}

                </tr>

        </tbody>
    </table>

    <a href="{% url 'listar_plantilla' %}">
        <button type="submit" name="Back" >
            Volver
        </button>
    </a>  


{% endblock articulo %}
{% endblock consulta %}


{% block script_app%}{% endblock script_app%}
{% block script_menu_app%}{% endblock script_menu_app%}
{% block script_pie_app%}{% endblock script_pie_app%}