<!--- Plantilla para la vista del requerimiento de existencia buscado - plantillas para SIGEPI
#Autor: Daniel Alejandro Ballesteros Algarra
# Coautor(a):  Milton O. Castro Ch.
#fecha 4 -10 -2022 --->

{% extends 'app_regreq_exist_iu.html' %} 
{% load static %}
{% block meta_app %}{% endblock meta_app%}
{% block meta_panel_ppal %}{% endblock meta_panel_ppal%}
{% block meta_pie_app%}{% endblock meta_pie_app%}
{% block consulta %}
{% block articulo %}


<div>
    <p>
        Requerimiento buscado
        <form method="POST" action="{%url 'buscar_reqexist' %}">
            {% csrf_token %}
            <input type="search" placeholder="Buscar Requerimiento" name="buscar">
            <button type="submit">
                Buscar
            </button>
        </form>
    </p>
</div>

{% if form.errors %}
    <p>No se ha podido realizar la consulta en este momento, porfavor intentelo mas tarde.</p>
{% endif %}

<!--CONSULTAR UN TIPO DE PRODUCTO-->
{% if not Buscar %}
    <table>
        <thead>
            <tr>
                <th>#</th>  
                <th> Nombre </th>  
            </tr>
        </thead>
        <tbody>
            {% for prd_req_Exist in requerimiento %}
            
            {% if prd_req_Exist.archivo %}

                <tr>
                </tr>

            {% else %}

                <tr>
                    <td> {{ prd_req_Exist.id_reqexs}} </td> 
                    <td>
                        <a href="{% url 'consultar_reqexs' prd_req_Exist.id_reqexs %}"> 
                            {{ prd_req_Exist.nom_reqexs}}
                        
                        </a> 
                        <a href="{% url 'editar_reqexs' prd_req_Exist.id_reqexs %}">
                            <button type="submit" name="Editar" >
                                Editar
                            </button>
                        </a>

                        <a href="{% url 'eliminar_reqexs' prd_req_Exist.id_reqexs %}">
                            <button type="submit" class = "btm btn-danger" name="Eliminar" >
                                Eliminar
                            </button>
                        </a>
                        
                    </td> 
                </tr>
            {% endif %}
            {% endfor %}
        </tbody>
    </table>

{% else %} 

    <span>
        el requerimiento no existe
    </span>
                
{%endif %}


{% endblock articulo %}
{% endblock consulta %}


{% block script_app%}{% endblock script_app%}
{% block script_menu_app%}{% endblock script_menu_app%}
{% block script_pie_app%}{% endblock script_pie_app%}