{% load static %}
{% csrf_token %}

{% block meta_menu_ppal %}
{% endblock meta_menu_ppal%}

{% block menu_ppal %}

<nav class="menu_ppal" >
    <a href="cons" class="disparador-navlateral" onclick="operar_navlateral()">
        <i class="material-icons">menu</i>
    </a>
    <div class="logotipo">
        <a href="cons" class="logotipo der">
            <img src="{% static 'img/logo.png' %}" alt="Logo" ></img>
        </a>
    </div>
    <div class="nav-titulo">
        SIGEPI-USTA
    </div>
</nav>

{% endblock menu_ppal %}

{% block script_menu_ppal%}
<script type="text/javascript">
$(document).ready(function(){
    $(".menu").click(function(){
        $(".keep").toggleClass("width");
    });
});
 </script>
{% endblock script_menu_ppal%}