{% load static %}
 <!--información de usuario panel derecho que se carga una vez se ha autenticado -->

{% block panel_der %}
<div id="cont_pn_der">
<!--Prueba-->
<section id="encabezado_pn_der">
{% block encabezado_pn_der %}
<p>
  Bienvenido(a) al sitio de consultas del SIGEPI
</p>
{% endblock encabezado_pn_der %}
</section>

<!--Información de usuario-->
<section id="usu_pn_der" class="">
{% block seccion_usuario %}
    <ul class="">
    {% block autent_pn_der %}
        {% if user.is_authenticated %}
        <li class="tarjeta">
            <div class="tarjeta-imagen">
                <div class="tarjeta-titulo">
                    <span> Bienvenido(a) {{user.username}} </span>
                </div>
                <div class="tarjeta-contenido">
                </div>
            </div>
        </li>
        <liclass="nav-item activo">
            <a class="btn" href="">Salir</a>
        </li>        
        {% else %}
        <li class="">
            <div class="">
                <div class="">
                    Información de usuario
                </div>
                <div class="">
                    <div class="">
                        <a class="" href="">Ingresar</a>
                        <a class="" href="">Registrarse</a>
                    </div>
                </div>
            </div>
        </li>  
        {% endif %}
    {% endblock autent_pn_der %}
    </ul>
{% endblock seccion_usuario %}
</section>

<!--Información Tablero de Control-->
<section id="tc_pn_der">
{% block tc_pn_der %}
{% endblock tc_pn_der %}
</section>

<!--Información de aplicación-->
<section id="app_pn_der">
{% block app_pn_der %}
    <ul class="">
    <li>
        <div class=""><i class="material-icons">filter_drama</i>First</div>
        <div class=""><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
    <li>
        <div class=""><i class="material-icons">place</i>Second</div>
        <div class=""><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
    <li>
        <div class=""><i class="material-icons">whatshot</i>Third</div>
        <div class=""><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
    </ul>
{% endblock app_pn_der %}
</section>

<section id="mod_pn_der">
{% block mod_pn_der %}
{% endblock mod_pn_der %}
</section>


<section id="pie_pn_der">
{% block pie_pn_der %}
{% endblock pie_pn_der %}
</section>


<!--Información de información varia-->

<section id="info_pn_der">
{% block seccion_info %}
{% endblock seccion_info %}
</section>

</div>
{% endblock panel_der %}