{% load static %}
<!DOCTYPE html>
<html lang="es" dir="rtl">

<head id="metadatos">
    <link rel="stylesheet" href="{% static 'css/sigepi.css' %}">
    <link rel="stylesheet" href="{% static 'fuentes/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2' %}" >
    {% block meta_head %}{% endblock meta_head %}
    {% block meta_cuerpo %}{% endblock meta_cuerpo%}
    {% block meta_cabecera %}{% endblock meta_cabecera%}
    {% block meta_menu_ppal %}{% endblock meta_menu_ppal%}
    {% block meta_app %}{% endblock meta_app%}
    {% block meta_barra_herr %}{% endblock meta_barra_herr%}
    {% block meta_panel_der %}{% endblock meta_panel_der%}
    {% block meta_panel_ppal %}{% endblock meta_panel_ppal%}
    {% block meta_panel_iz %}{% endblock meta_panel_iz%}
    {% block meta_pie_app%}{% endblock meta_pie_app%}
    {% block meta_pie_extra%}{% endblock meta_pie_extra%}
    {% block meta_pie%}{% endblock meta_pie%}
    <title id='titulo'>
        {% block titulo %}SIGEPI-USTA{% endblock titulo%}
    </title>
</head>

<body id="cuerpo" class="cuerpo">
    <header id="cabecera" class="cabecera">
        {% block cabecera %}
        <div id="menu_ppal"  class="menu_ppal">
            {% block menu_ppal %}
            {% endblock menu_ppal %}
        </div>
        {% endblock cabecera %}
    </header>


    <div id="panel_ppal" class="panel_ppal">
        <aside id="panel_der"  class="panel_der">
            {% block panel_der %}
            {% endblock panel_der %}
            {% block br_herr %}
            {% endblock br_herr %}
        </aside>    
        <div id="app" class="app">
            {% block app%}
            {% endblock app%}
        </div>

        
        <aside id="panel_iz" class="panel_iz">
            {% block panel_iz %}
            {% endblock panel_iz %}
        </aside>
        
    </div>    
  
    {% block script_meta%}{% endblock script_meta%}
    {% block script_cuerpo%}{% endblock script_cuerpo %}
    {% block script_cabecera%}{% endblock script_cabecera%}
    {% block script_menu_ppal%}{% endblock script_menu_ppal%}
    {% block script_app%}{% endblock script_app%}
    {% block script_menu_app%}{% endblock script_menu_app%}
    {% block script_panel_der%}{% endblock script_panel_der%}
    {% block script_panel_ppal%}{% endblock script_panel_ppal%}
    {% block script_panel_iz %}{% endblock script_panel_iz %}
    {% block script_pie_app%}{% endblock script_pie_app%}
    {% block script_pie_extra%}{% endblock script_pie_extra%}
    {% block script_pie%}{% endblock script_pie%}
    <footer id="pie" class="pie">
        <div id="pie_extra" class="pie_extra">
            {% block pie_extra%}
            {% endblock pie_extra%}
        </div>
        {% block pie %}
        {% endblock pie%}
    </footer>
</body>

</html>