{% extends 'app_pry_iu.html' %}
{% load static %}

{% block articulo %}
<!--Plantilla para editar -->
{% block titulo %} Funciones del cronograma {% endblock titulo %}
{% block app %}
  <form class="" action="" method="post">
    {% csrf_token %}
    {{ form2.as_p}}
    {{ form.as_p}}
    <button type="submit" >Editar</button>
  </form>

  {% block nomb_crono %}
  {% endblock %}
  {% block desc_crono %}
  {% endblock %}
  {% block fch_ini_pry %}
  {% endblock %}
  {% block fch_fin_pry %}

{% endblock app %}
{% endblock articulo %}