{% extends 'app_pry_iu.html' %}
{% load static %}

{% block articulo %}
  {% if form.errors %}
      <p>No se ha añadido correctamente. Por favor, inténtalo de nuevo.</p>
  {% endif %}

  <div class="container">
      <div class="column form-group text-center">
          <h3>Añadir</h3>
          <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Añadir">
        </form>
          </form>
      </div>
  </div>

  {% endblock articulo %}