<!--- Plantilla para la vista del formulario de plantillas - plantillas para SIGEPI
#Autor: Daniel Alejandro Ballesteros Algarra
# Coautor(a):  Milton O. Castro Ch.
#fecha 13 -09 -2022 --->

{% extends 'app_regplt_iu.html' %}
{% load static %}

{% block articulo %}
  {% if form.errors %}
      <p>No se ha registrado correctamente. Por favor, inténtalo de nuevo.</p>
  {% endif %}

  <div class="container">
      <div class="column form-group text-center">
          <h3>registrar</h3>
          <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <a href="">
                <button type="submit" name="Crear" >
                    Crear
                </button>
            </a>    
        </form>
          
      </div>
  </div>

  {% endblock articulo %}