/* sigepi.css: Elementos comunes que se heredan y pueden tener algunas variaciones */

/* fondo simple */

@mixin fn_sim($color) {
    background-color: $color;
}

/* fondo degradado vertical */
@mixin fn_deg_vrt($color,$color1) {
    background: linear-gradient(-90deg, $color, $color1);
}

/* fondo degradado horizontal */
@mixin fn_deg_hrz($color,$color1) {
    background: linear-gradient(0deg, $color, $color1);
}

/* Tamaño de igual ancho y alto */
@mixin tam_igu($tam_btn) {
    width: $tam_btn;
    height: $tam_btn;
}
