/* sigepi.css: Elementos comunes que se heredan y pueden tener algunas variaciones */

/* fondo simple */

@mixin fn_sim($color) {
    background-color: $color;
}

/* fondo degradado vertical */
@mixin fn_deg_vrt($color,$color1) {
    background: linear-gradient(-90deg, $color, $color1);
}

/* fondo degradado horizontal */
@mixin fn_deg_hrz($color,$color1) {
    background: linear-gradient(0deg, $color, $color1);
}

/* Tamaño de igual ancho y alto */
@mixin tam_igu($tam_btn) {
    width: $tam_btn;
    height: $tam_btn;
}

/* Estructura del panel */
@mixin extruc_gr_pn($num_col:1,$num_filas:1,$tam_fr1:1fr,$tam_fr2:0fr,$tam_fr3:0fr) {
    /* una fila hasta tres columnas */
    @if $num_filas==1 and $num_col==2{
        display: grid;
        position:sticky;
        grid-template-columns: #{$tam_fr1} #{$tam_fr2};
        grid-template-rows: 1fr;
    } @else if $num_filas==1 and $num_col==3{
        display: grid;
        position:sticky;
        grid-template-columns: #{$tam_fr1} #{$tam_fr2} #{$tam_fr3};
        grid-template-rows: 1fr;
    }
    /* una columna hasta tres filas*/
    @else if $num_filas==2 and $num_col==1{
        display: grid;
        position:sticky;
        grid-template-columns: 1fr;
        grid-template-rows: #{$tam_fr1} #{$tam_fr2};        
    }
    @else if $num_filas==3 and $num_col==1{
        display: grid;
        position:sticky;
        grid-template-columns: 1fr;
        grid-template-rows: #{$tam_fr1} #{$tam_fr2} #{$tam_fr3};
    }
    /* filas y columnas simétricas */
    @else if $num_filas==2 and $num_col==2{
        display: grid;
        position:sticky;
        grid-template-columns: #{$tam_fr1} #{$tam_fr2};
        grid-template-rows: #{$tam_fr1} #{$tam_fr2};
    }
    @else if $num_filas==3 and $num_col==3{
        display: grid;
        position:sticky;
        grid-template-columns: #{$tam_fr1} #{$tam_fr2} #{$tam_fr3};
        grid-template-rows: #{$tam_fr1} #{$tam_fr2} #{$tam_fr3};
    } 
    @else {
        display:flex;
        position:relative;
        flex-wrap: wrap;
    }
    width: 100%;
    height: 100%;    
}