/* Autor: Milton Castro */
/* Fecha:21-05-2022 */
/* última actualización:25-05-2022 */

/* Variables del diseño */
:root{
/* colores */
--color-primario:#00336a;
--color-primario-1:#004f9f;
--color-primario-2:#008FE3;
--color-primario-tr:#cee7ffda;
--color-primario-oscuro:#000B3B;
--color-secundario:#004732;
--color-secundario-1:#00691a;
--color-secundario-2:#009926;
--color-secundario-tr:#d9ffe23b;
--color-secundario-oscuro:#003b14;
--color-terciario:#490000;
--color-terciario-1:#800000;
--color-terciario-2:#d60000;
--color-terciario-tr:#80000044;
--color-terciario-oscuro:#300000;
--color-grises:#474747;
--color-grises-1:#6e6e6e;
--color-grises-2:#a1a1a1;
--color-grises-tr:#bebebe3b;
--color-grises-oscuro:#202020;
--color-azul:#00336a;
--color-amarillo:#ffe000;
--color-naranja:#fdc300;
--color-verde:#13a538;
--color-vinotinto:#800000;
--color-blanco:#ffffff;
--color-gris:#606060;
--color-azul-rey:#00608F;
--color-naranja-1:#E09F2F;
--color-exitoso:#00E8FF;
--color-info:#34C38F;
--color-cuidado:#ffadad;
--color-peligro:#b30000;
--color-luminoso:#FBF6C8;

/* fuentes */
--fam-fuentes-contenido: "Helvetica Neue", Arial;
--fam-fuentes-codigo: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
--fam-fuentes-titulos: sans-serif,"Times New Roman", "Impact","Verdana";
--fam-fuentes-btn:serif;
}
