{% load static %}

{% block panel_der %}
<nav id='panel_der_nav'>
    <div class="control-menu" style="height:35px">
        <a href="#panel_der_nav" class="abrir"><i class="material-icons" >menu</i></a>
        <a href="#" class="cerrar">
            <i class="material-icons">close</i>
        </a>
    </div>
    <ul class="nav-items">
      <li>
        <div class=""><i class="material-icons">filter_drama</i>First</div>
        <div class=""><span>Lorem ipsum dolor sit amet.</span></div>
      </li>
      <li>
        <div class=""><i class="material-icons">place</i>Second</div>
        <div class=""><span>Lorem ipsum dolor sit amet.</span></div>
      </li>
      <li>
        <div class=""><i class="material-icons">whatshot</i>Third</div>
        <div class=""><span>Lorem ipsum dolor sit amet.</span></div>
      </li>
    </ul>
</nav>
{% endblock panel_der %}
