{% load static %}
<html lang="es" dir="ltr">
  <head>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/simple-sidebar.css' %}" >
    {% block cabecera %}
    
    {% endblock %}
    <title>SIGEPI - Modulo administrativo</title>
  </head>
  <header>
    {% block encabezado %}

    {% endblock %}
  </header>
  <body>


    {% block articulo %}

    {% endblock %}

    {% block cuerpo %}

    {% endblock %}
    <script language="JavaScript" type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
    <script language="JavaScript" type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
  </body>
  <footer>
    <div class="footer" id="pie_ppal">
      {% block pie %}
      {% endblock pie%}
    </div>
  </footer>
</html>
