{% extends 'base_adm.html' %}
  {% block encabezado %}
    {% include 'menu_adm.html' %}
  {% endblock %}

  {% block lado %}
    {% include 'lado_adm.html' %} 
  {% endblock %}

  {% block contenido %}
    {% include 'login_adm.html' %}
  {% endblock %}  

  {% block cuerpo %}
    <div id='main'>
      <article id="principal">
      </article>
      <script language="JavaScript" type="text/javascript">
        $(document).ready(function () {
          $('.dropdown-toggle').dropdown();
        });
      </script>
    </div>
  {% endblock %}
  {% block pie %}
    {% include 'menu_inf.html' %}
  {% endblock %}
