{% extends 'front/base.html' %}
{% load static %}

{% block cabeza %}

{% endblock cabeza%}

{% block titulo %}
            SIGEPI - Bienvenidos(as) al sitio de prueba
{% endblock titulo%}

{% block encabezado %}
    {% include 'front/cabeceras/menuprueba.html'%}
{% endblock encabezado%}

{% block lado %}
    {% include 'front/lado/ladoprueba.html' %}
{% endblock lado%}

{% block cuerpo %}

{% endblock cuerpo %}

{% block pie %}
    {% include 'front/pies/menu_infprueba.html'%}
{% endblock pie%}
