{% load static %}
{% csrf_token %}

{% block meta_menu_ppal %}
{% endblock meta_menu_ppal%}


<nav class="nav-extendida">
    <div class="nav-solapa">
        <a href="inicio" class="logotipo der">
            SIGEPI-USTA
            <img src="{% static 'img/logo.png' %}" alt="Logo" style="height:55px" ></img>
        </a>
        <div class="logotipo">

        </div>
            <a href="#" data-target="panel_der" class="disparador-navlateral">
            <i class="material-icons">menu</i>
        </a>
    </div>
</nav>

{% block script_cabecera%}
<script type="text/javascript">
document.addEventListener('DOMContentLoaded', function() {
   var elems = document.querySelectorAll('.navlateral');
   var instances = M.Sidenav.init(elems, options);
 });

 </script>
{% endblock script_cabecera%}
