{% extends 'backend/base_adm.html' %}
{% load static %}

{% block cabeza_index %}

{% endblock cabeza_index%}

{% block titulo %}
            SIGEPI - Bienvenidos(as) al sitio de administrador de prueba
{% endblock titulo%}

{% block encabezado %}
    {% include 'backend/cabeceras/menu_adm_prb.html'%}
{% endblock encabezado%}

{% block lado %}
    {% include 'backend/lado/lado_adm_prb.html' %}
{% endblock lado%}

{% block cuerpo %}

{% endblock cuerpo %}

{% block pie %}
    {% include 'backend/pies/menu_inf_adm_prb.html'%}
{% endblock pie%}
