{% block titulo %} Formulario de registro nuevo proyecto {% endblock titulo %}
{% block cuerpo %}
  {% if form.errors %}
      <p>El proyecto no se ha creado correctamente. Por favor, inténtalo de nuevo.</p>
  {% endif %}

  <div class="container">
      <div class="column form-group text-center">
          <h3>Registrar Nuevo proyecto</h3>
          <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Crear">
        </form>
          </form>
      </div>
  </div>

{% endblock cuerpo %}