{% extends 'app_base_iu.html' %}
{% block titulo %} Listado de usuario {% endblock titulo %}
{% block articulo %}
    {% if form.errors %}
        <p>La lista de usuario no se ha logrado consultar.</p>
    {% endif %}
    <form method="POST">
        {{form.as_ul}}
        <div class="topnav"> 
            {% if user.is_authenticated %} 
                <p>Hola {{user.first_name}}</p>
                <div>
                    <p>Información de Usuario</p>
                    <ul>
                        <li><a href="{% url 'reg_infopers' %}">Editar Información Personal</a> </li>
                        <li><a href="#">Editar Información de Contácto</a></li>
                        <li><a href="#">Editar Información Académica</a></li>
                        <li><a href="#">Editar Información Profesional</a></li>
                        <li><a href="#">Editar Habilidades</a></li>
                        <li><a href="#">Editar Redes Sociales</a></li>
                    </ul>
                </div>
                <div>
                    <p>Proyectos</p>
                </div>
                <div>
                    <p>Grupos</p>
                </div>
                <div>
                    <p>Instituciones</p>
                </div>
                

                

                
                 
                
                
                
                
                
                <a href="#">Cerrar sesión</a> 
                <a href="#">Registrar Proyecto</a> 
                {% else %} 
                <a href="#">Registrarse</a> 
                <a href="#">Iniciar Sesión</a> 
                {% endif %} 
        </div> 
    </form>
{% endblock articulo %}
