{% extends 'app_base_iu.html' %}
{% load static %}

{% block titulo %}
    Registro SIGEPI-USTA
{% endblock titulo %}

{% block articulo %}
<div class="cont">
    <img src="{% static 'img/logo_usta.png' %}" alt="Universidad Santo Tomás">
    <h1 class="">Ingresar al SIGEPI-USTA</h1>
    <div class="">
        <form method="post" action="">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" name="submit">
        </form>
    </div>
</div>
{% endblock articulo %}
