{% extends 'base.html' %}
{% block app %}

    {% if validlink %}

        <h3>Nueva Contraseña</h3>
        <form method="post">
            {% csrf_token %}
            {{ form.new_password1.errors }}
            <label for="id_new_password1">Nueva Contraseña</label>
            {{ form.new_password1 }}

            {{ form.new_password2.errors }}
            <label for="id_new_password2">Confirme su contraseña</label>
            {{ form.new_password2 }}
            <input type="submit" value="Cambiar contraseña">
        </form>

    {% else %}

    <h3>ENLACE INVALIDO: ESTE ENLACE YA HA SIDO UTILIZADO</h3>

    {% endif %}
{% endblock app %}