{% block cuerpo %}
{% if form.errors %}
    <p>La lista de cronogramas no se ha logrado consultar.</p>
{% endif %}

<h3>Cronogramas</h3>

<form method="POST">
    {{form.as_ul}}
    <div class="table-responsive">
        <table class="table">
            {% for crono_pry in  object_list %}
            <label> {{ crono_pry.id_crono_pry }} </label>
            <label> {{ crono_pry.id_pry}} </label>
            <label> {{ crono_pry.resp_pry}} </label>
            <label> {{ crono_pry.nomb_crono}} </label>
            <label> {{ crono_pry.desc_crono}} </label>
            <label> {{ crono_pry.fch_ini_pry}} </label>
            <label> {{ crono_pry.fch_fin_pry}} </label><br>
            {% endfor %}

            <a href='creaeta'><input type="button" value="Crear etapa"></a>   
            <a href='creafase'><input type="button" value="Crear fase"></a>  
            <a href='creaproc'><input type="button" value="Crear proceso"></a> 
            <a href='creatar'><input type="button" value="Crear tarea"></a> 
            <a href='creacti'><input type="button" value="Crear actividad"></a> 
        </table> 
    </div>
</form>

{% endblock cuerpo %}