{% extends 'index_adm.html' %}
{% block titulo %} Listado de Discapacidades {% endblock titulo %}
{% block app %}
{% if form.errors %}
    <p>La discapacidad no se ha logrado consultar.</p>
{% endif %}


<form method="POST">
    <div class="table-responsive">
        <table class="table">
            <h2>Listado de discapacidades</h2>
            <thead>
                <tr>
                    <th>#</th>
                    <th>Tipo</th>
                    <th>Descripción</th>
                    <th colspan="2">Opciones</th>
                </tr>
            </thead>
            {% for discapacidad in  object_list %}
                <tbody>
                    <tr>
                        <td> {{ discapacidad.id_disc }} </td>
                        <td> {{ discapacidad.tipo_disca }} </td>
                        <td> {{ discapacidad.desc_disca }} </td>
                        <td> <a href="../edt_disc/{{discapacidad.id_disc}}" class="btn btn-block btn-sm btn-info">Editar</a><br></td>
                        <td> <a href="../eli_disc/{{discapacidad.id_disc}}" class="btn btn-block btn-sm btn-danger">Eliminar</a><br><br></td> 
                    </tr>
                </tbody>
            {% endfor %}
        </table> 
    </div>
</form>
{% endblock app %}
