{% extends 'index_adm.html' %}
{% block titulo %} Extensiones de modulo {% endblock titulo %}
{% block app %}
    {% if form.errors %}
        <p>La extension de modulo no se ha podido consultar.</p>
    {% endif %}
    <form method="POST">
        <div class="table-responsive">
            <table class="table">
                <h2>Extension de modulo</h2>
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Titulo</th>
                        <th>Modulo principal</th>
                        <th colspan="2">Opciones</th>
                    </tr>
                </thead>
                {% for ext_mod in  object_list %}
                    <tbody>
                        <tr>
                            <td> {{ ext_mod.id_mod_ext }} </td>
                            <td> {{ ext_mod.titulo_ext }} </td>
                            <td> {{ ext_mod.mod_prin_ext }} </td>
                            <td> <a href="../edt_extmod/{{ ext_mod.id_mod_ext }}" class="btn btn-block btn-sm btn-info">Editar</a><br></td>
                            <td> <a href="../eli_extmod/{{ ext_mod.id_mod_ext }}" class="btn btn-block btn-sm btn-danger">Eliminar</a><br><br></td> 
                        </tr>
                    </tbody>
                {% endfor %}
            </table> 
        </div>
    </form>
{% endblock app %}