{% extends 'inicio_adm.html' %}
{% block titulo %} Aplicaciones externas {% endblock titulo %}
{% block app %}
    {% if form.errors %}
        <p>La aplicacion externa no se ha podido consultar.</p>
    {% endif %}
    <form method="POST">
        <div class="table-responsive">
            <table class="table">
                <h2>Aplicaciones externas</h2>
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Titulo</th>
                        <th>Modulo principal</th>
                        <th colspan="2">Opciones</th>
                    </tr>
                </thead>
                {% for ext_app in  object_list %}
                    <tbody>
                        <tr>
                            <td> {{ ext_app.id_app_ext }} </td>
                            <td> {{ ext_app.titulo_app_ext }} </td>
                            <td> {{ ext_app.mod_prin_app_ext }} </td>
                            <td> <a href="../edt_extapp/{{ ext_app.id_app_ext }}" class="btn btn-block btn-sm btn-info">Editar</a><br></td>
                            <td> <a href="../eli_extapp/{{ ext_app.id_app_ext }}" class="btn btn-block btn-sm btn-danger">Eliminar</a><br><br></td> 
                        </tr>
                    </tbody>
                {% endfor %}
            </table> 
        </div>
    </form>
{% endblock app %}