<!--Plantilla para las funciones de la aplicación de cronograma (etapa, fase, proceso, tarea y actividad)-->
{% block cuerpo %}
{% if form.errors %}
    <p>La lista no se ha logrado consultar.</p>
{% endif %}
<h3>Lista</h3>

<form method="POST">
    {{form.as_ul}}

    <div>
        {% for etapa in  object_list %}
        <label> {{ etapa.nombre_eta}} </label>
        <label> {{ etapa.desc_eta}} </label>
        <label> {{ etapa.fch_ini_eta}} </label>
        <label> {{ etapa.fch_fin_eta}} </label><br>
        {% endfor %}

        {% for fase in  object_list %}
        <label> {{ fase.nombre_fase}} </label>
        <label> {{ fase.desc_fase}} </label>
        <label> {{ fase.fch_ini_fase}} </label>
        <label> {{ fase.fch_fin_fase}} </label><br>
        {% endfor %}

        {% for proceso in  object_list %}
        <label> {{ proceso.nombre_proc}} </label>
        <label> {{ proceso.desc_proc}} </label>
        <label> {{ proceso.fch_ini_proc}} </label>
        <label> {{ proceso.fch_fin_proc}} </label><br>
        {% endfor %}

        {% for tarea in  object_list %}
        <label> {{ tarea.nombre_tarea}} </label>
        <label> {{ tarea.desc_tarea}} </label>
        <label> {{ tarea.fch_ini_tarea}} </label>
        <label> {{ tarea.fch_fin_tarea}} </label>
        <label> {{ tarea.url_tar}} </label><br>
        {% endfor %}

        {% for acti in  object_list %}
        <label> {{ acti.nombre_acti}} </label>
        <label> {{ acti.desc_acti}} </label>
        <label> {{ acti.fch_ini_acti}} </label>
        <label> {{ acti.fch_fin_acti}} </label>
        <label> {{ acti.url_acti}} </label><br>
        {% endfor %}
</form>

{% endblock cuerpo %}
